<template name="header">
    <div class="header">
        <div class="container">
            <div class="header-logo"><a href="{{pathFor 'home'}}"><img src="/icons_white.png"></a></div>
            {{> navigation}}
        </div>
    </div>
</template>