<head>
    <title>alumnicons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9mm8lBu01VcFQXGIhh6ld_HzUhvoLZuQ"></script>
    <link rel="stylesheet" href="/font-awesome-4.4.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link rel="icon" href="/icons_blue.png">

    <script type="text/javascript">
        (function() {
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = '//api.usersnap.com/load/'+
                    '7c87ca02-7ba3-4d9c-8cac-af38ba2e5ee4.js';
            var x = document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s, x);
        })();
    </script>

    <!--<script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key:    77peif0hynq8n2
        authorize:  true
        lang:       de_DE
        onLoad:     OnLinkedInFrameworkLoad
    </script>

    <script type="text/javascript">
        function OnLinkedInFrameworkLoad() {
            console.log('isAuthorized', IN.User.isAuthorized());

            IN.Event.on(IN, "auth", OnLinkedInAuth);
        }

        function OnLinkedInAuth() {
            IN.API.Profile("me").result(ShowProfileData);
        }

        function ShowProfileData(profiles) {
            var member = profiles.values[0];
            var id=member.id;
            var firstName=member.firstName;
            var lastName=member.lastName;
            var photo=member.pictureUrl;
            var headline=member.headline;

            console.log('profile', id, firstName, lastName, photo, headline);
        }
    </script>-->

</head>
<body>
</body>
