<template name="loginLayout">

    <div class="body login-body clearfix">
        <div class="logo"><img src="/icons_white.png"></div>

        <script type="in/Login">
        </script>

        {{> yield}}
    </div>

</template>