<template name="movies">

    alumni count: {{alumniCount}}

    <div class="alumni-list">
        {{#each alumni}}
            <div class="alumn">
                {{firstname}}
            </div>
        {{/each}}
    </div>

    <button class="btn">Add Movie</button>

    movie count: {{movieCount}}

    <div class="movie-list">
        {{#each movies}}
            <div class="movie">
                {{title}}
            </div>
        {{/each}}
    </div>

</template>
