<template name="navigation">
    <div class="navigation">
        {{#if isLoggedIn}}
            <a class="nav-item" href="{{pathFor 'alumniList'}}">Alumni</a>
            <a class="nav-item" href="{{pathFor 'worldmap'}}">Weltkarte</a>
            <a class="nav-item" href="{{pathFor 'hubs'}}">Hubs</a>
            <a class="nav-item" href="{{pathFor 'events'}}">Events</a>
            <!--<a class="nav-item" href="{{pathFor 'club'}}">Verein</a>-->
            {{#if maySeeAdministration}}
                <a class="nav-item" href="{{pathFor 'members'}}">Verwaltung</a>
            {{/if}}
        {{/if}}

        <div class="is-right nav-right">
            {{#if name}}
                <a class="nav-item" href="{{pathFor 'alumniView' _id=alumniId}}">
                    <div class="name" style="display:inline;color:#fff">{{name}}</div>
                </a>
            {{else}}
                <div class="nav-item name" style="display:inline;color:#fff">{{username}}</div>
            {{/if}}
            <div class="login link nav-item">{{loginLabel}}</div>
        </div>
    </div>

    <div class="mobile-menu">
        <span class="menu-global menu-top"></span>
        <span class="menu-global menu-middle"></span>
        <span class="menu-global menu-bottom"></span>
    </div>
    <div class="mobile-nav">
        {{#if isLoggedIn}}
            <a class="nav-item" href="{{pathFor 'alumniList'}}">Alumni</a>
            <a class="nav-item" href="{{pathFor 'worldmap'}}">Weltkarte</a>
            <a class="nav-item" href="{{pathFor 'hubs'}}">Hubs</a>
            <!--<a class="nav-item" href="{{pathFor 'club'}}">Verein</a>-->
            {{#if maySeeAdministration}}
                <a class="nav-item" href="{{pathFor 'members'}}">Verwaltung</a>
            {{/if}}
            {{#if mayRegisterAlumni}}
                <a class="nav-item" href="{{pathFor 'alumniCreate'}}">Neuer Eintrag</a>
            {{/if}}
        {{/if}}

        <div class="separator"></div>

        {{#if name}}
            <a class="nav-item" href="{{pathFor 'alumniView' _id=alumniId}}">
                <div class="name" style="display:inline;color:#fff">{{name}}</div>
            </a>
        {{else}}
            <div class="nav-item name" style="display:inline;color:#fff">{{username}}</div>
        {{/if}}
        <div class="login link nav-item">{{loginLabel}}</div>
    </div>
</template>