<template name="alumniRolesEdit">

    <div class="container">
        <div class="title">
            {{title}}
        </div>

        <div class="role-detail">
            <form class="edit-form" action="action">
                <div class="data-row">
                    <p>Name <br><input type="text" name="name" value="{{role.name}}"></p>
                </div>
                <div class="data-row">
                    <p>Slug <br><input type="text" name="slug" value="{{role.slug}}"></p>
                </div>

                <a href="#" class="action-btn save-btn" data-id="{{role._id}}">Speichern</a>
                <a href="#" class="cancel-btn" data-id="{{role._id}}">Abbrechen</a>
            </form>
        </div>
    </div>

</template>