<template name="alumniRolesView">

    <div class="location-detail">
        <div class="data-row">
            {{name}}
        </div>
        <div class="data-row">
            {{slug}}
        </div>

        <a href="{{pathFor 'locationsEdit'}}" class="action-btn">Bearbeiten</a>
    </div>

</template>