<template name="userRoles">

    <div class="padding-container">
        <div class="filter clearfix">
            <button type="button" class="btn action-btn is-right" data-id="{{_id}}" data-toggle="modal" data-target="#createRoleModal">
                Neue Rolle
            </button>
        </div>

        <div class="modal fade" id="createRoleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Neue Rolle</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" placeholder="Name" class="name">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="list user-list">
            <div class="list-header clearfix">
                <div class="list-content">
                    <div class="list-column id-col">
                        ID
                    </div>
                    <div class="list-column name-col">
                        Name
                    </div>
                </div>
            </div>

            <div class="list-body">
                {{#each roles}}
                    <div class="list-row clearfix">
                        <div class="list-content">
                            <div class="list-column id-col">
                                {{_id}}
                            </div>
                            <div class="list-column name-col">
                                {{name}}
                            </div>
                            <div class="actions hide-on-sm">
                                <div class="more" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                </div>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a href="#" class="action-link" data-id="{{_id}}"
                                           data-toggle="modal" data-target="#editModal">
                                            Bearbeiten
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="action-link" data-id="{{_id}}"
                                           data-toggle="modal" data-target="#deleteModal">
                                            Löschen
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {{/each }}
            </div>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Rolle bearbeiten</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Name" class="name" value="{{userRole.name}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                    <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Rolle löschen?</h4>
                </div>
                <div class="modal-body">
                    Sicher dass die Rolle gelöscht werden soll?
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                    <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                </div>
            </div>
        </div>
    </div>

</template>