<template name="login">
    <div class="container">
        <form id="login-form" action="action">
            <div class="login-form">
                <input type="email" placeholder="Email" class="{{#if loginError}}mark-red{{/if}}" id="login-email" />
                <input type="password" placeholder="Passwort" class="{{#if loginError}}mark-red{{/if}}"  id="login-password" />

                {{#if loginError}}
                    <div class="error-msg">
                        Login fehlgeschlagen! Benutzername oder Password ungültig!
                    </div>
                {{/if}}

                <input type="submit" class="btn action-btn" id="login-button" value="Login" />

                <a href="/resetpassword" class="reset-password-link">Passwort vergessen?</a>

            </div>
        </form>
    </div>
</template>