<template name="register">

    <form id="register-form" action="action">
        <div>
            <input type="email" id="account-email" />
            <input type="password" id="account-password" />
            <input type="submit" id="account-button" value="Sign up" />
        </div>
    </form>

</template>