<template name="resetPassword">

    <div class="container">
        <h1>Passwort zur&uuml;cksetzen</h1>
        <form id="reset-password-form" action="action">
            <div class="login-form">
                <input type="email" placeholder="Email" class="{{#if loginError}}mark-red{{/if}}" id="reset-password-email" />

                {{#if resetPasswordError}}
                    <div class="error-msg">
                        {{resetPasswordErrorMessage}}
                    </div>
                {{/if}}

                {{#if resetPasswordSuccess}}
                    <div class="success-msg msg">
                        {{resetPasswordSuccessMessage}}
                    </div>
                {{/if}}

                <input type="submit" class="btn action-btn" id="trigger-reset-password-button" value="Passwort zur&uuml;cksetzen" />

            </div>
        </form>
    </div>

</template>