<template name="userstable">

    <div class="list user-list">
        <div class="list-header clearfix">
            <div class="list-content">
                <!--<div class="list-column id-col">-->
                    <!--ID-->
                <!--</div>-->
                <div class="list-column created-col">
                    Erstellungsdatum
                </div>
                <div class="list-column status-col">
                    Status
                </div>
                <div class="list-column username-col">
                    Username
                </div>
                <div class="list-column alumn-col">
                    Alumn
                </div>
                <div class="list-column role-col">
                    Rolle
                </div>
            </div>
        </div>

        <div class="list-body">
            {{#each users}}
            <div class="list-row clearfix">
                <div class="list-content clearfix">
                    <!--<div class="list-column id-col">-->
                        <!--{{_id}}-->
                    <!--</div>-->
                    <div class="list-column created-col">
                        {{createdAt}}
                    </div>
                    <div class="list-column status-col">
                        {{#if activated}}aktiv{{else}}inaktiv{{/if}}
                    </div>
                    <div class="list-column username-col">
                        {{username}}
                    </div>
                    <div class="list-column alumn-col">
                        {{#if alumn}}
                            <a href="javascript:void(0)" class="profile-link" data-id="{{alumn._id}}">{{alumn.firstname}}&nbsp;{{alumn.lastname}}</a>
                        {{else}}
                            &nbsp;
                        {{/if}}
                    </div>
                    <div class="list-column role-col">
                        {{#if role}}
                            {{role}}
                        {{else}}
                            &nbsp;
                        {{/if}}
                    </div>
                </div>

                <div class="actions hide-on-sm">
                    {{#if maySeeEditUserShortCut}}
                        <div class="more" data-toggle="dropdown">
                            <i class="fa fa-bars"></i>
                        </div>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                   data-toggle="modal" data-target="#setRoleModal">
                                    Rolle zuordnen
                                </a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                   data-toggle="modal" data-target="#setAlumnModal">
                                    Alumni zuordnen
                                </a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                   data-toggle="modal" data-target="#inviteModal">
                                    Neu einladen
                                </a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                   data-toggle="modal" data-target="#setPasswordModal">
                                    Passwort setzen
                                </a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                   data-toggle="modal" data-target="#deleteModal">
                                    L&ouml;schen
                                </a>
                            </li>
                        </ul>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">User erneut einladen?</h4>
                    </div>
                    <div class="modal-body">
                        Willst du die Einladung wirklich erneut verschicken?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">User löschen?</h4>
                    </div>
                    <div class="modal-body">
                        Sicher dass der User gelöscht werden soll?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="setRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Rolle zuweisen</h4>
                    </div>
                    <div class="modal-body">
                        <select class="role-select">
                            <option value="">-- Rolle ausw&auml;hlen --</option>
                            {{#each roles}}
                                <option value="{{name}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="setAlumnModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Alumn zuweisen</h4>
                    </div>
                    <div class="modal-body">
                        <select class="alumn-select">
                            <option value="-1">-- Alumni ausw&auml;hlen --</option>
                            {{#each alumni}}
                                <option selected="{{selected selectedUser._id userId}}" value="{{_id}}">{{firstname}} {{lastname}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="setPasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Passwort setzen</h4>
                    </div>
                    <div class="modal-body">
                        <input type="password" class="user-password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
