<template name="users">
    <div class="body__inner">
    <div class="padding-container">
        <div class="filter clearfix">
            <button type="button" class="btn action-btn is-right" data-id="{{_id}}" data-toggle="modal" data-target="#createUserModal">
                Neuer User
            </button>
        </div>

        <div class="modal fade" id="createUserModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Neuer User</h4>
                    </div>
                    <div class="modal-body">
                        <input type="email" placeholder="email" class="email">
                        <input type="password" placeholder="password" class="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>

        {{> userstable}}
    </div>
    </div>

</template>
