<template name="activation">
    <div class="container">
        <h1>Account Aktivierung</h1>
        {{#if firstname}}
            {{#if lastname}}
                <div style="text-align:center;">Name:&nbsp;{{firstname}}&nbsp;{{lastname}}</div>
            {{/if}}
        {{/if}}
        <div style="text-align:center;">Email Adresse:&nbsp;{{email}}</div>
        <form id="activation-form" action="action">
            <div class="login-form">
                <input type="password" placeholder="Passwort" class="{{#if markPasswordFields}}mark-red{{/if}}"  id="account-password" />
                <input type="password" placeholder="Passwort best&auml;tigen" class="{{#if markPasswordFields}}mark-red{{/if}}"  id="check-password" />

                {{#if activationError}}
                    <div class="error-msg">
                        {{activationErrorMessage}}
                    </div>
                {{/if}}

                <input type="submit" class="btn action-btn" id="login-button" value="Aktivieren" />
            </div>
        </form>
    </div>

</template>
