<template name="setPassword">
    <div class="container">
        <h1>Passwort zur&uuml;cksetzen</h1>
        <form id="set-password-form" action="action">
            <div class="login-form">
                <input type="password" placeholder="Passwort" class="{{#if loginError}}mark-red{{/if}}" id="set-password-email" />
                <input type="password" placeholder="Passwort wiederholen" class="{{#if loginError}}mark-red{{/if}}" id="set-password-email-check" />

                {{#if setPasswordError}}
                    <div class="error-msg">
                        {{setPasswordErrorMessage}}
                    </div>
                {{/if}}

                {{#if setPasswordSuccess}}
                    <div class="success-msg msg">
                        {{setPasswordSuccessMessage}}
                    </div>
                {{/if}}

                <input type="submit" class="btn action-btn" id="set-password-button" value="Passwort speichern" />

            </div>
        </form>
    </div>
</template>