<template name="club">
    <div class="club-members container">
        <div class="row clearfix">
            <div class="col col-4 col-md-12">
                <div class="club-area">
                    <div class="club-area__title">Obmann</div>
                    <a href="#"><div class="club-area__name">Michael Hofner</div></a>
                </div>
            </div>

            <div class="col col-4 col-md-12">
                <div class="club-area">
                    <div class="club-area__title">Obmann Stellvertreter</div>
                    <a href="#"><div class="club-area__name">Thomas Henry Wieser</div></a>
                </div>
            </div>

            <div class="col col-4 col-md-12">
                <div class="club-area">
                    <div class="club-area__title">Kassier</div>
                    <a href="#"><div class="club-area__name">Nikolaus Beier</div></a>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col col-12">
                <div class="club-area">
                    <div class="club-area__title">Vereinsmitglieder</div>
                    <div class="clearfix">
                        <div class="club-area__name col col-4 col-md-6"><a href="#">Matthias Posch</a></div>
                        <div class="club-area__name col col-4 col-md-6"><a href="#">Max Mustermann</a></div>
                        <div class="club-area__name col col-4 col-md-6"><a href="#">Max Mustermann</a></div>
                        <div class="club-area__name col col-4 col-md-6"><a href="#">Max Mustermann</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>