<template name="events">
    <div class="events body__inner">
        <div class="event-list profile-container clearfix sm-no-padding">
            <h4 class="event__headline">Bevorstehende Events</h4>
            {{#each upcomingEvents}}
                {{> eventSingle data=this}}
            {{/each}}
        </div>

        <div class="event-list profile-container clearfix sm-no-padding">
            <h4 class="event__headline">Vergangene Events</h4>
            {{#each pastEvents}}
                {{> eventSingle data=this}}
            {{/each}}
        </div>
    </div>
</template>

<template name="eventSingle">
    <div class="event__single col col-xs-12">
        {{#with data}}
            {{#if image}}
                <aside class="event__image" style="background-image:url({{image}})"></aside>
            {{/if}}

            <div class="event__content">
                <aside class="event__links">
                    {{#if imagesUrl}}<div class="event__link"><a href="{{imagesUrl}}" target="_blank"><i class="fa fa-picture-o"></i> Fotos</a></div>{{/if}}
                    {{#if location}}<div class="event__link"><a href="https://maps.google.com?q={{location}}" target="_blank"><i class="fa fa-map"></i> Karte</a></div>{{/if}}
                </aside>
                <h3 class="event__title">{{title}}</h3>
                {{#if location}}
                    {{location}}
                    <br>
                {{/if}}
                {{#if date}}
                    {{date}}
                    <br>
                {{/if}}
                {{#if owner}}
                    Ansprechpartner: <a href="/alumni/{{owner._id}}">{{owner.firstname}}&nbsp;{{owner.lastname}}</a>
                    <br>
                {{/if}}
            </div>
        {{/with}}
    </div>
</template>