<template name="activity">

    <div class="administration clearfix">
        {{> adminSidebar}}

        <div class="content">
            <h1 class="is-red"><i class="fa fa-exclamation-triangle"></i> UNDER CONSTRUCTION <i class="fa fa-exclamation-triangle"></i></h1>
        </div>
    </div>
</template>