<template name="adminSidebar">
    <aside class="side-menu">
        <div class="side-menu__entry {{#if showMembers}}active{{/if}} members-js" data-name="members">
            Mitglieder <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="side-menu__entry {{#if showSnapshots}}active{{/if}} snapshots-js {{#if showSnapshotView}}active-new{{/if}} side-menu__subentry" data-name="snapshots">
            Snapshots <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="side-menu__entry {{#if showNewAlumni}}active{{/if}} newalumni-js" data-name="newAlumni">
            Neue Eintr&auml;ge <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="side-menu__entry {{#if showActivity}}active{{/if}} activity-js" data-name="activity">
            Aktivit&auml;t <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <!--&lt;!&ndash;&lt;!&ndash;<div class="side-menu__entry {{#if showQuickEditView}}active{{/if}} quickedit-js" data-name="quickEditView">
            QuickEdit <span class="glyphicon glyphicon-chevron-right"></span>
        </div>&ndash;&gt;&ndash;&gt;-->
        <div class="side-menu__entry {{#if showBranchView}}active{{/if}} branch-js" data-name="branchView">
            Branchen <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="side-menu__entry {{#if showHubView}}active{{/if}} hub-js" data-name="hubView">
            Hubs <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <div class="side-menu__entry {{#if showEventView}}active{{/if}} event-js" data-name="eventView">
            Events <span class="glyphicon glyphicon-chevron-right"></span>
        </div>


        {{#if isAdmin}}
            <a class="nav-item" href="{{pathFor 'users'}}">User</a>
            <a class="nav-item" href="{{pathFor 'userRoles'}}">Userrollen</a>
            <a class="nav-item" href="{{pathFor 'locations'}}">Standorte</a>
            <a class="nav-item" href="{{pathFor 'alumniRoles'}}">Rollen</a>
            <a class="nav-item" href="{{pathFor 'config'}}">Config</a>
        {{/if}}
    </aside>
</template>