<template name="branch">
    <div class="body__inner">

    <div class="administration branches clearfix">
        {{> adminSidebar}}

        <div class="content">
            <div class="clearfix action-bar">
                <button type="button" class="btn action-btn open-branch-modal-js is-right" data-toggle="modal" data-target="#newBranchModal">
                    Neue Branche
                </button>
            </div>

            <div class="list user-list">
                <div class="list-header clearfix">
                    <div class="list-content">
                        <div class="list-column col-name">
                            Name
                        </div>
                    </div>
                </div>

                <div class="list-body">
                    {{#each rows}}
                        <div class="list-row clearfix">
                            <div class="list-content">
                                <div class="list-column">
                                    {{name}}
                                </div>
                                <div class="actions inline">
                                    <a href="" class="inline-entry action-link" data-id="{{_id}}"
                                        data-toggle="modal" data-target="#deleteBranchModal">
                                        Löschen
                                    </a>

                                    <a href="" class="inline-entry action-link" data-id="{{_id}}"
                                        data-toggle="modal" data-target="#editBranchModal">
                                        Bearbeiten
                                    </a>
                                </div>
                            </div>
                        </div>
                    {{else}}
                        <div class="empty">Keine Eintr&auml;ge</div>
                    {{/each }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="newBranchModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Branche anlegen</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Name" class="name-js" autofocus>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="action-btn btn new-branch-js" data-id="{{_id}}">Speichern</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editBranchModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{#with currentBranch}}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Branche bearbeiten</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Name" class="name-js" value="{{name}}" autofocus>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="action-btn btn edit-branch-js" data-id="{{_id}}">Speichern</button>
                </div>
            </div>
        </div>
        {{/with}}
    </div>

    <div class="modal fade" id="deleteBranchModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        {{#with currentBranch}}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Branche löschen</h4>
                </div>
                <div class="modal-body">
                    Bist du sicher, dass die Branche gelöscht werden soll?
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="action-btn btn delete-branch-js" data-id="{{_id}}">Löschen</button>
                </div>
            </div>
        </div>
        {{/with}}
    </div>
    </div>
</template>