<template name="event">
    <div class="body__inner">
        <div class="administration events clearfix">
            {{> adminSidebar}}

            <div class="content">
                <div class="clearfix action-bar">
                    <button type="button" class="btn action-btn open-create-modal-js is-right" data-toggle="modal" data-target="#newModal">
                        Neu
                    </button>
                </div>

                <div class="list user-list event-list">
                    <div class="list-header clearfix">
                        <div class="list-content">
                            <div class="list-column col-image" style="background-image:url({{image}})"></div>
                            <div class="list-column col-title">
                                Titel
                            </div>
                            <div class="list-column col-owner">
                                Ansprechperson
                            </div>
                            <div class="list-column col-location">
                                Ort
                            </div>
                            <div class="list-column col-date">
                                Datum
                            </div>
                            <div class="list-column col-images-url">
                                Fotos Link
                            </div>
                        </div>
                    </div>

                    <div class="list-body">
                        {{#each rows}}
                            <div class="list-row clearfix">
                                <div class="list-content clearfix">
                                    <div class="list-column col-image" style="background-image:url({{image}})"></div>
                                    <div class="list-column col-name">
                                        {{title}}
                                    </div>
                                    <div class="list-column col-owner">
                                        <a href="/alumni/{{owner._id}}">{{owner.firstname}}&nbsp;{{owner.lastname}}</a>
                                    </div>
                                    <div class="list-column col-location">
                                        {{location}}
                                    </div>
                                    <div class="list-column col-date">
                                        {{date}}
                                    </div>
                                    <div class="list-column col-images-url">
                                        {{imagesUrl}}
                                    </div>
                                </div>
                                <div class="actions inline">
                                    <a href="" class="inline-entry action-link" data-id="{{_id}}"
                                       data-toggle="modal" data-target="#deleteModal">
                                        Löschen
                                    </a>

                                    <a href="" class="inline-entry action-link open-edit-modal-js" data-id="{{_id}}"
                                       data-toggle="modal" data-target="#editModal">
                                        Bearbeiten
                                    </a>

                                    <a href="event/{{_id}}/edit" class="inline-entry action-link open-edit-modal-js">
                                        Bearbeiten
                                    </a>
                                </div>
                            </div>
                        {{else}}
                            <div class="empty">Keine Eintr&auml;ge</div>
                        {{/each }}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade event-modal" id="newModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{entity.name}} anlegen</h4>
                    </div>
                    <div class="modal-body">
                        <form class="new-form-js">
                            <input type="text" placeholder="Titel" class="title-js" autofocus>
                            <div class="select-wrapper">
                                <select class="owner-js form-control" name="owner">
                                    <option value="0">Ansprechperson</option>
                                    {{#each alumni}}
                                        <option value="{{_id}}" selected="{{selected ../owner._id _id}}">{{firstname}} {{lastname}}</option>
                                    {{/each}}
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <input type="text" placeholder="Bild" class="image-js">
                            <input type="text" placeholder="Fotos Link" class="images-url-js">
                            <div class="map-js">
                                <div class="col col-xs-6">
                                    <input type="text" placeholder="Ort" class="location-js">
                                </div>
                                <div class="col col-xs-6">
                                    <iframe width="283"
                                            height="265"
                                            src="https://maps.google.de/maps?key=AIzaSyA9mm8lBu01VcFQXGIhh6ld_HzUhvoLZuQ&hl=de&q={{currentLocation}}&ie=UTF8&t=&z=17&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" >
                                    </iframe>

                                </div>
                            </div>
                            <div class="date-js has-datepicker-js"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="action-btn btn new-js" data-id="{{_id}}">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade event-modal" id="editModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{entity.name}} bearbeiten</h4>
                    </div>
                    <div class="modal-body">
                        <form class="edit-form-js">
                            <input type="text" placeholder="Titel" class="title-js" autofocus value="{{currentEvent.title}}">
                            <div class="select-wrapper">
                                <select class="owner-js form-control" name="owner">
                                    <option value="0">Ansprechperson</option>
                                    {{#each alumni}}
                                        <option value="{{_id}}" selected="{{selected currentEvent.owner._id _id}}">{{firstname}} {{lastname}}</option>
                                    {{/each}}
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <input type="text" placeholder="Bild" class="image-js" value="{{currentEvent.image}}">
                            <input type="text" placeholder="Fotos Link" class="images-url-js" value="{{currentEvent.imagesUrl}}">
                            <div class="map-js">
                                <div class="col col-xs-6">
                                    <input type="text" placeholder="Ort" class="location-js" value="{{currentEvent.location}}">
                                </div>
                                <div class="col col-xs-6">
                                    <iframe width="283"
                                            height="265"
                                            src="https://maps.google.de/maps?key=AIzaSyA9mm8lBu01VcFQXGIhh6ld_HzUhvoLZuQ&hl=de&q={{currentLocation}}&ie=UTF8&t=&z=17&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" >
                                    </iframe>

                                </div>
                            </div>
                            <div class="date-js has-datepicker-js"></div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="action-btn btn edit-js" data-id="{{currentEvent._id}}">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade event-modal" id="deleteModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {{#with currentEvent}}
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">{{entity.name}} löschen</h4>
                            </div>
                            <div class="modal-body">
                                Bist du sicher, dass der {{entity.name}} gelöscht werden soll?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                                <button type="button" class="action-btn btn delete-js" data-id="{{_id}}">Löschen</button>
                            </div>
                        {{/with}}
                    </div>
                </div>
        </div>
    </div>
</template>