<template name="eventEdit">

    <div class="body__inner">
        <div class="administration events-edit clearfix">
            {{> adminSidebar}}

            <div class="content">
                <div class="clearfix action-bar page-actions">
                    <button type="button" class="btn action-btn is-right btn">Speichern</button>
                    <a href="/admin/event" class="btn is-right cancel-btn btn">Abbrechen</a>
                </div>

                <form class="new-form-js">
                    {{#with currentEvent}}
                        <div class="col col-xs-6">
                            <input type="text" placeholder="Titel" class="title-js" autofocus value="{{title}}">
                            <div class="select-wrapper">
                                <select class="owner-js form-control" name="owner">
                                    <option value="0">Ansprechperson</option>
                                    {{#each alumni}}
                                        <option value="{{_id}}" selected="{{selected ../owner._id _id}}">{{firstname}} {{lastname}}</option>
                                    {{/each}}
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </div>
                            <input type="text" placeholder="Bild" class="image-js" value="{{image}}">
                            <input type="text" placeholder="Fotos Link" class="images-url-js" value="{{imagesUrl}}">
                        </div>
                        <div class="col col-xs-6">
                            <div class="map-js">
                                <div class="col col-xs-6">
                                    <input type="text" placeholder="Ort" class="location-js" value="{{location}}">
                                </div>
                                <div class="col col-xs-6">
                                    <iframe width="283"
                                            height="265"
                                            src="https://maps.google.de/maps?key=AIzaSyA9mm8lBu01VcFQXGIhh6ld_HzUhvoLZuQ&hl=de&q={{currentLocation}}&ie=UTF8&t=&z=17&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" >
                                    </iframe>

                                </div>
                            </div>
                            <div class="date-js has-datepicker-js"></div>
                        </div>
                    {{/with}}
                </form>
            </div>
        </div>
    </div>

</template>