<template name="hub">
    <div class="body__inner">
    <div class="administration hubs clearfix">
        {{> adminSidebar}}

        <div class="content">
            <div class="clearfix action-bar">
                <button type="button" class="btn action-btn open-create-modal-js is-right" data-toggle="modal" data-target="#newModal">
                    Neu
                </button>
            </div>

            <div class="list user-list hub-list">
                <div class="list-header clearfix">
                    <div class="list-content">
                        <div class="list-column col-image" style="background-image:url({{image}})"></div>
                        <div class="list-column col-name">
                            Name
                        </div>
                        <div class="list-column col-owner">
                            Local Ambassador
                        </div>
                        <div class="list-column col-position">
                            Position
                        </div>
                    </div>
                </div>

                <div class="list-body">
                    {{#each hubs}}
                        <div class="list-row clearfix">
                            <div class="list-content clearfix">
                                <div class="list-column col-image" style="background-image:url({{image}})"></div>
                                <div class="list-column col-name">
                                    {{name}}<br>
                                    {{#if isMainHub}}<div class="mainhub">Hauptsitz</div>{{/if}}
                                </div>
                                <div class="list-column col-owner">
                                    <a href="/alumni/{{owner._id}}">{{owner.firstname}}&nbsp;{{owner.lastname}}</a>
                                </div>
                                <div class="list-column col-position">
                                    {{position}}
                                </div>
                            </div>
                            <div class="actions inline">
                                <a href="" class="inline-entry action-link" data-id="{{_id}}"
                                   data-toggle="modal" data-target="#deleteModal">
                                    Löschen
                                </a>

                                <a href="" class="inline-entry action-link" data-id="{{_id}}"
                                   data-toggle="modal" data-target="#editModal">
                                    Bearbeiten
                                </a>
                            </div>
                        </div>
                    {{else}}
                        <div class="empty">Keine Eintr&auml;ge</div>
                    {{/each }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade hub-modal" id="newModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{entity.name}} anlegen</h4>
                </div>
                <div class="modal-body">
                    <form class="new-form-js">
                        <input type="text" placeholder="Name" class="name-js" autofocus>
                        <div class="select-wrapper">
                            <select class="owner-js form-control" name="owner">
                                <option value="0">Local Ambassador</option>
                                {{#each alumni}}
                                    <option value="{{_id}}" selected="{{selected ../owner._id _id}}">{{firstname}} {{lastname}}</option>
                                {{/each}}
                            </select>
                            <i class="fa fa-angle-down"></i>
                        </div>
                        <input type="text" placeholder="Bild" class="image-js has-tool-tip">
                        <div class="tool-tip">
                            Es wird empfohlen einen Public Dropbox Link zu verwenden.
                            Achte darauf, dass das Bild in deinem "Public" Folder liegt!
                            Nähere Infos findest du <a href="https://www.dropbox.com/de/help/16" target="_blank'">hier</a>.
                        </div>

                        <input type="number" placeholder="Position" class="position-js">
                        <label><input type="checkbox" class="mainhub-js"> Hauptsitz</label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                    <button type="button" class="action-btn btn new-js" data-id="{{_id}}">Speichern</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade hub-modal" id="editModal" role="dialog">
        {{#with currentHub}}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{entity.name}} bearbeiten</h4>
                    </div>
                    <div class="modal-body">
                        <form class="edit-form-js">
                            <input type="text" placeholder="Name" class="name-js" value="{{name}}" autofocus>

                            <div class="select-wrapper">
                                <select class="owner-js form-control" name="owner">
                                    <option value="0">Local Ambassador</option>
                                    {{#each alumni}}
                                        <option value="{{_id}}" selected="{{selected ../owner._id _id}}">{{firstname}} {{lastname}}</option>
                                    {{/each}}
                                </select>
                                <i class="fa fa-angle-down"></i>
                            </div>

                            <input type="text" placeholder="Bild" class="image-js has-tool-tip" value="{{image}}">
                            <div class="tool-tip">
                                Es wird empfohlen einen Public Dropbox Link zu verwenden.
                                Achte darauf, dass das Bild in deinem "Public" Folder liegt!
                                Nähere Infos findest du <a href="https://www.dropbox.com/de/help/16" target="_blank'">hier</a>.
                            </div>

                            <input type="number" placeholder="Position" class="position-js" value="{{position}}">
                            <label><input type="checkbox" class="mainhub-js" checked="{{#if isMainHub}}checked{{/if}}"> Hauptsitz</label>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="action-btn btn edit-js" data-id="{{_id}}">Speichern</button>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>

    <div class="modal fade hub-modal" id="deleteModal" role="dialog">
        {{#with currentHub}}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{entity.name}} löschen</h4>
                    </div>
                    <div class="modal-body">
                        Bist du sicher, dass der {{entity.name}} gelöscht werden soll?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="action-btn btn delete-js" data-id="{{_id}}">Löschen</button>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
    </div>
</template>