<template name="members">
    <div class="body__inner">
    <div class="administration clearfix">
        {{> adminSidebar}}

        <div class="content">
            <h1 class="is-red"><i class="fa fa-exclamation-triangle"></i> UNDER CONSTRUCTION <i class="fa fa-exclamation-triangle"></i></h1>

            <div class="list user-list member-list editable">
                <div class="clearfix">
                    <button type="button" class="btn action-btn is-right" data-id="{{_id}}" data-toggle="modal" data-target="#createSnapshotModal">
                        Neuer Snapshot
                    </button>
                </div>

                <div class="list-header clearfix">
                    <div class="list-content">
                        <div class="item-status hide-on-sm" title="User">&nbsp;</div>
                        <div class="item-status hide-on-sm" title="Vereins Mitgliedschaft">&nbsp;</div>
                        <div class="list-column name-col">
                            Name
                        </div>
                        <div class="list-column state-col">
                            Status
                        </div>
                        <div class="list-column year-col">
                            2015
                        </div>
                        <div class="list-column year-col">
                            2014
                        </div>
                    </div>
                </div>

                <div class="list-body">
                    {{#each alumni}}
                        <div class="list-row clearfix">
                            <div class="list-content clearfix">
                                <div class="item-status user-status hide-on-sm {{status}}" title="User">&nbsp;</div>
                                <div class="item-status membership-status hide-on-sm {{membership}}" title="Vereins Mitgliedschaft">&nbsp;</div>
                                <div class="list-column name-col">
                                    <a href="#" class="alumni-link" data-id="{{_id}}">{{firstname}} {{lastname}}</a>
                                </div>
                                <div class="list-column state-col activation-link" data-id="{{_id}}" data-clubmember="{{isClubMember}}">
                                    <div class="display-label {{#if isClubMember}}active{{/if}}" data-id="{{_id}}" data-clubmember="{{isClubMember}}">
                                        {{#if isClubMember}}
                                            aktiv
                                        {{else}}
                                            inaktiv
                                        {{/if}}
                                    </div>
                                    <div class="hover-label" data-id="{{_id}}" data-clubmember="{{isClubMember}}">
                                        {{#if isClubMember}}
                                            inaktiv
                                        {{else}}
                                            aktiv
                                        {{/if}}
                                    </div>
                                </div>
                                {{#if memberShip}}
                                    {{#each memberShip}}
                                        <div class="list-column year-col {{#if isActive}}active{{/if}}" data-year="{{year}}" data-id="{{id}}"></div>
                                    {{/each}}
                                {{else}}
                                    <div class="list-column year-col" data-year="2015" data-id="{{_id}}"></div>
                                    <div class="list-column year-col" data-year="2014" data-id="{{_id}}"></div>
                                {{/if}}
                            </div>

                            <div class="actions hide-on-sm">
                                {{#if maySeeEditUserShortCut}}
                                    <div class="more" data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </div>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                               data-toggle="modal" data-target="#setRoleModal">
                                                Rolle zuordnen
                                            </a>
                                        </li>
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                               data-toggle="modal" data-target="#setAlumnModal">
                                                Alumni zuordnen
                                            </a>
                                        </li>
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                               data-toggle="modal" data-target="#inviteModal">
                                                Neu einladen
                                            </a>
                                        </li>
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                               data-toggle="modal" data-target="#setPasswordModal">
                                                Passwort setzen
                                            </a>
                                        </li>
                                        <li>
                                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                                               data-toggle="modal" data-target="#deleteModal">
                                                Entfernen
                                            </a>
                                        </li>
                                    </ul>
                                {{/if}}
                            </div>
                        </div>
                    {{else}}
                        <div class="loading-spinner"></div>
                    {{/each}}
                </div>
                <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">User erneut einladen?</h4>
                            </div>
                            <div class="modal-body">
                                Willst du die Einladung wirklich erneut verschicken?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                                <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">User löschen?</h4>
                            </div>
                            <div class="modal-body">
                                Sicher dass der User gelöscht werden soll?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                                <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="setRoleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Rolle zuweisen</h4>
                            </div>
                            <div class="modal-body">
                                <select class="role-select">
                                    <option value="">-- Rolle ausw&auml;hlen --</option>
                                    {{#each roles}}
                                        <option value="{{name}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                                <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="setAlumnModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Alumn zuweisen</h4>
                            </div>
                            <div class="modal-body">
                                <select class="alumn-select">
                                    <option value="-1">-- Alumni ausw&auml;hlen --</option>
                                    {{#each alumni}}
                                        <option selected="{{selected selectedUser._id userId}}" value="{{_id}}">{{firstname}} {{lastname}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                                <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="setPasswordModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Passwort setzen</h4>
                            </div>
                            <div class="modal-body">
                                <input type="text" class="user-password">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                                <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="createSnapshotModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Neuer Snapshot</h4>
                            </div>
                            <div class="modal-body">
                                <label>Optionale Notiz:</label>
                                <input type="text" class="snapshot-note">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                                <button type="button" class="action-btn btn" data-dismiss="modal" data-id="{{_id}}" >Speichern</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</template>
