<template name="newAlumni">

    <div class="body__inner">
    <div class="administration clearfix">
        {{> adminSidebar}}

        <div class="content">
            {{#if noAlumniToApprove }}
                <h4>Keine neuen Eintr&auml;ge!</h4>
            {{else}}
                <div class="list user-list new-alumni-list">
                    <div class="list-header clearfix">
                        <div class="list-content">
                            <div class="list-column name-col">
                                Name
                            </div>
                            <div class="list-column created-col">
                                Erstellt am
                            </div>
                        </div>
                    </div>

                    <div class="list-body">
                        {{#each alumni}}
                            <div class="list-row clearfix">
                                <div class="list-content clearfix">
                                    <div class="list-column name-col ">
                                        <a href="#" class="alumni-link" data-id="{{_id}}">{{firstname}} {{lastname}}</a>
                                    </div>
                                    <div class="list-column created-col">
                                        {{createdAt}}
                                    </div>
                                    <div class="is-right">
                                        <div class="btn action-btn btn-secondary" data-id="{{_id}}" data-toggle="modal" data-target="#denyModal">Ablehnen</div>
                                        <div class="btn action-btn" data-id="{{_id}}" data-toggle="modal" data-target="#approveModal">Best&auml;tigen</div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="modal fade" id="approveModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Eintrag best&auml;tigt</h4>
                                </div>
                                <div class="modal-body">
                                    Eintrag wurde best&auml;tigt!
                                    {{#if inviteEnabled}}
                                        <br><br>Willst du eine Einladung per Mail verschicken?
                                    {{/if}}
                                </div>
                                <div class="modal-footer">
                                    {{#if inviteEnabled}}
                                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                                        <button type="button" class="action-btn btn invite-js" data-id="{{_id}}">Ja</button>
                                    {{else}}
                                        <button type="button" class="action-btn btn ok-js" data-id="{{_id}}">OK</button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="denyModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Eintrag ablehnen?</h4>
                                </div>
                                <div class="modal-body">
                                    Willst du den Eintrag wirklich ablehnen?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                                    <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    </div>

</template>