<template name="quickEditView">
    <div class="body__inner">
    <div class="administration clearfix">
        {{> adminSidebar}}

        <div class="content">
            <h1 class="is-red"><i class="fa fa-exclamation-triangle"></i> UNDER CONSTRUCTION <i class="fa fa-exclamation-triangle"></i></h1>

            <div class="clearfix action-bar">
                {{#if isAdmin}}
                    <button type="button" class="btn action-btn">
                        Speichern
                    </button>
                {{/if}}
                <!--<button type="button" class="btn action-btn update-all-js">
                    Alle
                </button>-->
            </div>

            <div class="grid">
                <div class="grid__header" layout="row">
                    {{#each attributes}}
                        <div flex class="grid__cell__wrapper {{styleClass}}">
                            <span>{{label}}</span>
                        </div>
                    {{/each}}
                </div>

                <div class="grid__content">
                    {{#if showLoadingSpinner}}
                        <div class="loading-spinner"></div>
                    {{else}}
                        {{#each rows}}
                            {{> quickEditViewRow data=this}}
                        {{else}}
                            <div class="loading-spinner"></div>
                        {{/each}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    </div>
</template>
