<template name="quickEditViewRow">
    {{#with data}}
        <div class="grid__row clearfix {{#if wasChanged}}changed{{/if}}" layout="row" data-id="{{_id}}">
            <div flex class="grid__cell__wrapper col-firstname">
                <input value="{{firstname}}" class="grid__cell firstname" type="text" >
            </div>
            <div flex class="grid__cell__wrapper col-lastname">
                <input value="{{lastname}}" class="grid__cell lastname" type="text" >
            </div>
            <div flex class="grid__cell__wrapper col-classPresident">
                <div class="select-wrapper grid__cell">
                    <select class="classPresident form-control" name="classPresident">
                        <option value="-1">Kein Jahrgangssprecher</option>
                        {{#each classPresidents}}
                            <option selected="{{selected ../classPresident _id}}" value="{{_id}}">{{firstname}}&nbsp;{{lastname}}</option>
                        {{/each}}
                    </select>
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
            <div flex class="grid__cell__wrapper col-location">
                <div class="select-wrapper grid__cell">
                    <select class="location form-control" name="location">
                        <option value="-1">Kein Standort</option>
                        {{#each locations}}
                            <option selected="{{selected ../location._id _id}}" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
            <div flex class="grid__cell__wrapper col-emailaddress">
                <input value="{{mailaddress}}" class="grid__cell mailaddress" type="text" >
            </div>
            <div flex class="grid__cell__wrapper col-alternativeemailaddress">
                <input value="{{alternativemailaddress}}" class="grid__cell alternativemailaddress" type="text" >
            </div>
            <div flex class="grid__cell__wrapper">
                <input value="{{telephone}}" class="grid__cell telephone" type="text" >
            </div>
            <div flex class="grid__cell__wrapper">
                <input value="{{alternativetelephone}}" class="grid__cell alternativetelephone" type="text" >
            </div>
            <div flex class="grid__cell__wrapper col-address">
                <input value="{{address}}" class="grid__cell address" type="text" >
            </div>
            <div flex class="grid__cell__wrapper col-alternativeaddress">
                <input value="{{alternativeaddress}}" class="grid__cell alternativeaddress" type="text" >
            </div>
            <div flex class="grid__cell__wrapper col-employer">
                <input value="{{employer}}" class="grid__cell employer" type="text" >
            </div>
            <div flex class="grid__cell__wrapper">
                <input value="{{job}}" class="grid__cell job" type="text" >
            </div>
            <div flex class="grid__cell__wrapper">
                <div class="select-wrapper grid__cell">
                    <select class="jobbranch form-control" name="jobbranch">
                        <option value="-1">Keine Branche</option>
                        {{#each branches}}
                            <option selected="{{selected ../jobbranch._id _id}}" value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
            <div flex class="grid__cell__wrapper">
                <input value="{{jobSince}}" class="grid__cell jobSince" type="text" >
            </div>
            <div flex class="grid__cell__wrapper">
                <input value="{{linkedin}}" class="grid__cell linkedin" type="text" >
            </div>
            <div flex class="grid__cell__wrapper">
                <input value="{{xing}}" class="grid__cell xing" type="text" >
            </div>
            <div flex class="grid__cell__wrapper">
                <input value="{{iconsStart}}" class="grid__cell iconsStart" type="text" >
            </div>
            <div flex class="grid__cell__wrapper">
                <input value="{{iconsEnd}}" class="grid__cell iconsEnd" type="text" >
            </div>
        </div>
    {{/with}}
</template>
