<template name="snapshots">
    <div class="body__inner">
    <div class="administration clearfix">
        {{> adminSidebar}}

        <div class="content">
            <div class="list user-list snapshots-list editable">
                <div class="list-header clearfix">
                    <div class="list-content">
                        <div class="flex-content">
                            <div class="list-column date-col">
                                Erstellungsdatum
                            </div>
                            <div class="list-column note-col">
                                Notiz
                            </div>
                        </div>
                        <div class="right-fixed">
                            <div class="list-column alumni-col">
                                # Alumni
                            </div>
                            <div class="list-column member-col">
                                # Mitglieder
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-body">
                    {{#each snapshots}}
                        <div class="list-row clearfix snapshot-list-row-js" data-id="{{_id}}">
                            <div class="flex-content">
                                <div class="list-column date-col">
                                    {{createdAt}}
                                </div>

                                <div class="list-column note-col">
                                    {{note}}
                                </div>
                            </div>
                            <div class="right-fixed">
                                <div class="list-column member-col">
                                    {{memberCount}}
                                </div>

                                <div class="list-column alumni-col">
                                    {{alumniCount}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    </div>

</template>