<template name="snapshotView">
    <div class="body__inner">
    <div class="list user-list snapshots-list">
        <div class="list-header clearfix">
            <div class="list-content">
                <div class="flex-content">
                    <div class="list-column date-col">
                        Erstellungsdatum
                    </div>
                    <div class="list-column note-col">
                        Notiz
                    </div>
                </div>
                <div class="right-fixed">
                    <div class="list-column alumni-col">
                        # Alumni
                    </div>
                    <div class="list-column member-col">
                        # Mitglieder
                    </div>
                </div>
            </div>
        </div>

        <div class="list-body">
            <div class="list-row clearfix snapshot-list-row-js" data-id="{{_id}}">
                <div class="flex-content">
                    <div class="list-column date-col">
                        {{snapshot.createdAt}}
                    </div>

                    <div class="list-column note-col">
                        {{snapshot.note}}
                    </div>
                </div>
                <div class="right-fixed">
                    <div class="list-column member-col">
                        {{snapshot.memberCount}}
                    </div>

                    <div class="list-column alumni-col">
                        {{snapshot.alumniCount}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="list user-list member-list">
        <div class="list-header clearfix">
            <div class="list-content">
                <div class="item-status hide-on-sm" title="User">&nbsp;</div>
                <div class="item-status hide-on-sm" title="Vereins Mitgliedschaft">&nbsp;</div>
                <div class="list-column name-col">
                    Name
                </div>
                <div class="list-column state-col">
                    Status
                </div>
                <div class="list-column year-col">
                    2015
                </div>
                <div class="list-column year-col">
                    2014
                </div>
            </div>
        </div>

        <div class="list-body">
            {{#each snapshot.alumni}}
                <div class="list-row clearfix">
                    <div class="list-content clearfix">
                        <div class="item-status user-status hide-on-sm {{status}}" title="User">&nbsp;</div>
                        <div class="item-status membership-status hide-on-sm {{membership}}" title="Vereins Mitgliedschaft">&nbsp;</div>
                        <div class="list-column name-col">{{firstname}} {{lastname}}</div>
                        <div class="list-column state-col activation-link">
                            <div class="display-label {{#if isClubMember}}active{{/if}}">
                                {{#if isClubMember}}
                                    aktiv
                                {{else}}
                                    inaktiv
                                {{/if}}
                            </div>
                        </div>
                        {{#if memberShip}}
                            {{#each memberShip}}
                                <div class="list-column year-col {{#if isActive}}active{{/if}}" data-year="{{year}}"></div>
                            {{/each}}
                        {{else}}
                            <div class="list-column year-col" data-year="2015"></div>
                            <div class="list-column year-col" data-year="2014"></div>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    </div>
</template>