<template name="locationView">

    <div class="location-detail">
        <div class="data-row">
            {{name}}
        </div>

        <a href="{{pathFor 'locationsEdit'}}" class="action-btn">Bearbeiten</a>
    </div>

</template>