<template name="locationsEdit">

    <div class="container">
        <div class="title">
            {{title}}
        </div>

        <div class="location-detail">
            <div class="data-row">
                <p>Name <br><input type="text" name="name" value="{{name}}"></p>
            </div>

            <a href="#" class="action-btn save-btn" data-id="{{_id}}">Speichern</a>
            <a href="#" class="cancel-btn" data-id="{{_id}}">Abbrechen</a>
        </div>
    </div>

</template>