<template name="locations">

    <div class="actions">
        <div class="add-btn action-btn">
            Neuer Eintrag
        </div>
    </div>

    <div class="list">
        <div class="list-header clearfix">
            <div class="list-column">
                ID
            </div>
            <div class="list-column">
                Name
            </div>
        </div>

        <div class="list-body">
            {{#each locations}}
            <div class="list-row" data-toggle="modal" data-id="{{_id}}">
                <div class="list-column">
                    {{_id}}
                </div>
                <div class="list-column">
                    {{name}}
                </div>
                <button type="button" class="edit-btn btn btn-default btn-sm save-id" data-id="{{_id}}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-default btn-sm save-id" data-id="{{_id}}" data-toggle="modal" data-target="#deleteModal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            {{/each }}
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Standort löschen?</h4>
                    </div>
                    <div class="modal-body">
                        Sicher dass der Standort gelöscht werden soll?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="btn action-btn delete-btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>