body {
    margin:0px;
    font-family: 'Roboto', sans-serif;
    color: #525252;
    letter-spacing:2px;
}

body,
html {
    height:100%;
}

input[type="text"]:not(".grid__cell"),
input[type="email"],
input[type="number"],
input[type="password"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius:0;
    border: 1px solid #ccc;
}

select {
    box-shadow:none !important;
}


h1 {
    font-weight:300;
    margin-top:40px;
    text-align:center;
}

p {
    margin:0;
}

a {
    color:#095AA5;
}
a:hover {
    color:#074274;
}

.link {
    cursor:pointer;
}

.form-control {
    -webkit-appearance:none;
    -moz-appearance:none;
    border-radius:0px;
    text-indent: 0.01px;
    text-overflow: '';
    background-color: #ffffff;
}

.alumni.edit .actions {
    width:100%;
    display:inline-block;
}

/* override bootstrap link stlying */
.dropdown-menu > li > a {
    float:none;
    color:#333 !important;
}

.dropdown-menu > li > a:hover {
    background-image:none !important;
    background-color:transparent !important;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


.page-actions {
    position:relative;
    width:100%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.page-actions .btn {
    margin-left:20px;
    float: right;
}

.actions {
    float:right;
    position: relative;
}

.dropdown-menu {
    top: 0 !important;
    left: -110px !important;
}

.list-count {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn {
    font-weight:300 !important;
    min-width:50px !important;
    border-radius:0 !important;
    padding:7px 10px !important;
    border:none !important;
    transition:box-shadow 0.3s;
    transition:background-color 0.3s;
    transition:color 0.3s;
}

.btn,
.accounts-dialog .login-button-form-submit {
    padding:10px;
    cursor:pointer;
    background-color:transparent;
    border-radius:0;
    border:0;
    transition:background-color 0.3s;
}
.btn:hover,
.accounts-dialog .login-button-form-submit:hover{
    background-color: #CBCBCB;
    text-decoration:none !important;
}
.action-btn,
.accounts-dialog .login-button-form-submit{
    padding:10px;
    color: #FDFDFD !important;
    cursor:pointer;
    background-color:#095AA5 !important;
    background-image:none !important;
}
.action-btn:hover,
.accounts-dialog .login-button-form-submit:hover{
    background-color: #074274 !important;
    text-decoration:none !important;
}
.cancel-btn {
    padding:10px;
    color: #FDFDFD !important;
    cursor:pointer;
    background-color:#B3B3B3;
}
.cancel-btn:hover {
    background-color:#919191;
    text-decoration:none !important;
}

.header {
    position:absolute;
    height:50px;
    width:100%;
    background-color:#095AA5;
    color:#fff;
    z-index:5;
}

.header-logo {
    float: left;
    height: 100%;
    width: 100px;
    padding: 7px;
    padding-left: 0;
}
.header-logo img {
    max-height:100%;
    max-width:100%;
}

.header .navigation {
    height:100%;
}
.header .nav-item {
    color:#ffffff;
    font-weight:300;
    height:100%;
    display:block;
    float:left;
    padding: 15px 20px;
    transition: background-color 0.3s;
}
.header .nav-item:hover{
    background-color: #074274;
    text-decoration:none;
}

.nav-item .name {
    max-width:250px;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.is-right {
    float:right !important;
}

.header .user {
    float:right;
    padding-top:30px;
}
.header .user .username {
    padding-right:20px
}
.header .user > div {
    float:right;
    font-weight:300;
}

.body {
    width:100%;
    height:100%;
    position: absolute;
    padding-top:50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.body__inner {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 40px;
}

@media(max-width: 800px){
    .body__inner {
        margin-top: 0;
    }
}

.body .filter {
    width: 100%;
    margin-bottom:20px;
}

.filter-container {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    background-color: rgba(9, 90, 165, 0.24);
    overflow: hidden;
    transition: all 0.3s;
    height: 100%;
}

.filter .filter__single {
    width: 200px;
    margin-right: 10px;
    float: left;
}

@media(max-width: 600px){
    .filter .filter__single {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
    }
}

.stringfilter{
    display:block;
    height: 34px;
    padding: 0 10px;
    border: 1px solid #C9C9C9;
    float:left;
    font-size: 14px !important;
}

.filter-clear {
    float:left;
    margin-top:-11px;
    margin-left:5px;
}
.filter-clear:hover {
    cursor:pointer;
}

.list {
    margin:0 auto;
    padding-bottom:50px;
}

.list-header .list-column{
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.list-header {
    width: 100%;
    display: block;
    padding-bottom:5px;
    padding-top:5px;
}
.list-header>div {
    padding-right:79px;
}

.list-header .list-column .glyphicon {
    font-size:14px;
}

.sortable:hover {
    background-color:#CFCFCF;
    cursor:pointer;
}

.list-body .list-row {
    vertical-align: middle;
    position:relative;
    transition:0.3s;
}

//refactor: make to .container
.new-alumni-list .list-content {
    padding-top:5px;
    padding-bottom:5px;
}

.list-row .actions {
    position:absolute;
    right:0;
    top:0;
    padding:20px;
    height:100%;
}

.list-row .container {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #EAEAEA;
}

.hover-list-body .list-row .container:hover {
    background-color: #D0E0EC;
}

.list-column {
    width:25%;
    float:left;
    color:#4E4E50;
    padding:0 10px;
    font-size:1em;
    overflow:hidden;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    transition:all 0.3s;
}

.pre-column {
    width:4px !important;
    position:relative;
    float:left;
}

.item-status {
    height: 60px;
    position:absolute;
    width: 4px !important;
}
.item-status.verified {
    background-color: rgba(84, 210, 84, 0.62);
}
.item-status.registered {
    background-color:#929292;
}
.item-status.member {
    background-color:#095AA5;
}

.member-list .item-status {
    height:40px;
}

.name-column {
    width:35%;
}

.address-column {
}

.employer-column{
}

.location-column {
    width:14%;
}

.role-column {
    width:15%;
}

.alumni-detail {
    width:500px;
    margin: 0 auto;
    margin-top:100px;
}

.data-row {
    margin-bottom:50px;
}

.more {
    padding:10px;
    cursor:pointer;
}

.list-data {
    width:100%;
    min-height:60px;
    padding:10px 0;
    padding-right:60px;
}

.dropdown-menu li:hover {
    background-color: #E2E2E2;
}

.profile-link, .profile-link:hover {
    cursor: pointer;
    color: #4E4E50;
}

.list .details{
    font-size:0.85em;
    color: #929292;
    margin-top:5px;
}

.list .details a {
    color: #797979;
}

.list .details p{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-bottom:0;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:0 20px;
    position:relative;
}

.padding-container{
    padding-left:20px;
    padding-right:20px;
}

/*ALUMNI VIEW*/
.profile-wrapper {
    position:relative;
}
.profile-container {
    max-width: 960px;
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 auto;
}

.actions a{
    float:right;
}

.alumni .name {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
    display: inline-block;

    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.social-media-profiles img {
    width:20px;
}

.list .name img {
    width:15px;
    margin-top:-5px;
}

.action-container {
    margin-bottom:20px;
}

.alumni .profile-data {
    font-size:1.0em;
    font-weight:300;
    padding-right:20px;
}

.alumni .profile-data div{
    padding-bottom:10px;
}
.alumni .profile-data a {
    color: #000 !important;
    font-weight:400;
}

.alumni .profile-data .address {
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.alumni .icons-facts .label {
    width:90px;
}

.block {
    margin-bottom:20px;
}

.work {
    margin-top:50px;
}

.work h3 {
    font-size:1.5em;
}

.label {
    display:block !important;
    color:inherit !important;
    padding: 0 !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 1 !important;
    text-align: left !important;
    white-space: nowrap !important;
    vertical-align: middle !important;
    border-radius: 0 !important;
    margin-bottom:5px;
}

label {
    cursor: pointer !important;
}

.form-block a {
    display:block;
}

.profile-facts {
    width:65%;
}
.sidebar {
    position:absolute;
    max-width:250px;
    width:250px;
    right:0;
    top:0;
}
.sidebar-widget {
    padding: 10px;
}

.sidebar .action-container {
    padding-top:10px;
    margin-bottom:20px;
}

.icons-facts {
    background-color: rgba(9, 90, 165, 0.2);
    color: #000;
    padding: 20px 25px;
}

.icons-facts > div {
    display:inline-block;
    margin-bottom:0;
}

.action-bar {
    margin-bottom:20px;
}

.icons-facts h4 {
    color:#095AA5;
}

.filter-reset-btn {
    margin-left:10px;
}

.no-padding-right {
    padding-right:0 !important;
}

/* ALUMNI EDIT PAGE */

.alumni.edit .name input {
    width:200px;
}

.alumnicons-facts {
    margin-top:20px;
}

.alumni.edit .icons-facts select {
    display:inline-block;
    width:100%;
}

.alumni.edit .icons-facts .row {
    margin:5px 0;
}

.login-form {
    width:100%;
    max-width:400px;
    display:block;
    margin:0 auto;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    width: 100%;
    font-size: 20px;
    font-weight: 100;
}

.login-form input[type="password"]
{
    margin-top:40px;
}

.login-form input[type="submit"]  {
    margin-top:40px;
}

.login-form input[type='email'],
.login-form input[type='password'],
.login-form input[type="submit"] {
    padding: 5px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.login-form input[type='checkbox'] {
    margin-right:8px;
}

.login-form .error-msg {
    margin-top:20px;
    margin-bottom:20px;
}

.login-form label {
    display:block;
    margin-top:20px;
}

.reset-password-link {
    margin-top:10px;
    display:block;
    text-align:right;
}

.mark-red {
    border:1px solid #f00 !important;
}

.error-msg {
    color:#f00 !important;
}

.msg {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.11);
}

.success-msg {
    color: #16AD16;
}

input {
    width: 100%;
    padding:10px;
}

.profile-facts .name {
    padding-right:20px;
    margin-bottom:5px;
}

.alumni.edit .name-wrapper {
    width:50%;
    float:left;
}
.alumni.edit .name-wrapper + .name-wrapper {
    padding-right:0;
    padding-left:10px;
}

.alumni.edit .name-wrapper input {
    padding:10px;
}

.alumni.edit .name input {
    width:100%;
    padding:0 13px;
}

.form-block {
    padding-top:5px;
    padding-bottom:5px;
}

input[name='iconsStart'], input[name='iconsEnd'] {
    width:100%;
    padding:6px 12px;
}


.fixed-list-header {
    position:fixed;
    background-color: #fff;
    top:0;
    z-index:1000;
    left:0;
}

.is-hidden {
    display:none !important;
}

.select-wrapper {
    position:relative;
}

.select-wrapper .fa {
    position:absolute;
    right:10px;
    top:10px;
}

.select-wrapper select {
    padding-right:25px;
}

.text-filter {
    position:relative;
    display:inline-block;
    width:100%;
}

.text-filter .fa {
    position:absolute;
    right:1px;
    top:1px;
    padding:9px;
    cursor:pointer;
    color:grey;
}

.suche {
    width:200px;
    float:left;
}

.map-canvas {
    width:100%;
    position:static !important;
    left:0;
    z-index:9;
}

.font-normal {
    font-weight:normal;
}

.font-normal input {
    display:inline-block;
    padding-right:20px;
}

ul.notifications {
    width:400px;
}

li.notification {
    border-radius:0;
    box-shadow: 0 1px 4px rgba(128,128,128,.4);
    -webkit-box-shadow: 0 1px 4px rgba(128,128,128,.4);
    -moz-box-shadow: 0 1px 4px rgba(128,128,128,.4);
}

li.notification div.title {
    font-weight:300;
    margin-bottom:0;
}

li.notification.success {
    background-color: #439D1B;
}


/* Burger Menu */
.mobile-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    margin: 0 auto;
    padding-left: 1.25em;
    width: 25px;
    height: 25px;
}
.menu-global {
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    border-top: 3px solid white;
    width: 100%;
    transition: 0.55s;
}
.menu-top {
    top: 0;
}
.menu-middle {
    top: 7px;
}
.menu-bottom {
    top: 14px;
}
.menu-top-click {
    backface-visibility: hidden;
    top: 6px;
    transform: rotate(45deg);
    /*transition: 0.3s 0.3s;*/
}
.menu-middle-click {
    /*transform: rotate(45deg);*/
    opacity: 0;
}
.menu-bottom-click {
    backface-visibility: hidden;
    top: 6px;
    transform: rotate(-45deg);
    /*transition: 0.3s 0.3s;*/
}

.mobile-nav {
    position:absolute;
    top:50px;
    right:0;
    width:0;
    background-color:#095AA5;
    transition:all 0.3s;
    z-index:10;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    overflow:hidden;
}

.mobile-nav.active {
    width:100%;
}

.mobile-nav .nav-item {
    height:auto;
    padding-bottom: 10px;
    padding-top: 10px;
    float: none;
}

.separator {
    display:block;
    width:100%;
    border-top:2px solid rgba(255, 255, 255, 0.52);
    margin-top:10px;
    margin-bottom:10px;
}

.social-media-profiles {
    display:inline;
}


.show-on-sm {
    display: none;
}

.icon {
    width: 20px;
    float:left;
    margin-top:6px;
}

.flag-filter {
    margin-top:14px;
    display:inline-block;
    margin-left:20px;

    label {
        font-weight:normal;
    }
}

.content {
    overflow:scroll;
    padding:40px;
    height:100%;
}

.nav-right {
    position:absolute;
    top:0;
    right:0;
}

.member-list .list-column {
    width:auto;
}

.member-list .year-col {
    text-align:center;
}

.member-list.editable .list-body .year-col:hover {
    background-color:#C1DCFD !important;
}

.user-list .more {
    padding: 5px 15px;
}

.btn-secondary {
    background-color: rgba(0,0,0,0) !important;
    color:#333333 !important;

    &:hover {
        background-color:#CBCBCB !important;
    }
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.user-status {
    left:0;
}

.membership-status {
    left:4px;
}

label {
    font-weight:normal;
}

.administration .side-menu {
    position:fixed;
}

.content-block {
    display:inline-block;
}

.administration .content {
    margin-left: 200px;
    padding-top: 0;
}

.snapshots-list .list-content {
    padding-right:0 !important;
    position: relative;
}

.snapshots-list.editable .list-row:hover {
    background-color: #D0E0EC;
    cursor: pointer;
}

.snapshots-list .date-col {
    width:50%;
}

.snapshots-list .note-col {
    width:50%;
}

.snapshots-list .flex-content {
    width:calc(100% - 300px);
}
.snapshots-list .right-fixed {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}

.snapshots-list .alumni-col {
    width:50%;
}

.snapshots-list .member-col {
    width:50%;
}

@media (max-width:920px){
    .location-column, .role-column{
        display:none;
    }

    .list-column,.name-column {
        width:33.32%;
    }
}

@media(max-width:750px){
    .mobile-menu,
    .mobile-nav {
        display:block;
    }

    .navigation {
        display:none;
    }

    .hide-on-sm {
        display:none !important;
    }

    .show-on-sm {
        display: block !important;
    }

    .suche {
        margin-left:0;
        float:none;
        width:100%;
        margin-bottom:10px;
        height:33px;
    }
    .suche .text-filter,
    .suche .text-filter .stringfilter {
        width:100%
    }

    .filter-reset-btn {
        margin-left:0;
    }

    .list-data {
        margin-right:0;
        padding-right:0px;
        width:100%;
        padding-top:15px;
        padding-bottom:15px;
    }

    .name-column {
        width:50%;
    }

    .list-row .actions {
        padding-left:7px;
        padding-right:7px;
    }

    .alumni .profile-data div {
        width:100% !important;
    }

    .social-media-profiles img {
        width:30px;
    }

    .profile-container {
        padding-top:20px;
    }

    .work {
        margin-top:30px;
    }

    .list-header {
        padding: 0;
    }

    .list-body .list-row:hover {
        background-color:rgba(0,0,0,0);
    }

    .employer-column{
        display:none;
    }

    .list-column, .name-column {
        width:45%;
    }

    .profile-facts {
        width:100%;
    }

    .alumni .profile-data {
        padding-right:0;
    }

    .profile-facts .name {
        padding-right:0;
    }

    .sidebar {
        width:100%;
        max-width:100%;
        position:relative;
        margin-top:40px;
    }
}

@media (max-width:500px){
    .address-column{
        display:none;
    }

    .name-column {
        width:98%;
    }

    .list-body .list-row {
        padding:0
    }

    .more {
        padding:0;
    }

    body {
        font-size:17px;
    }

    .alumni.edit .name-wrapper {
        width:100%;
        padding:0 !important;
        margin-bottom:20px;
    }

    .list-row .container {
        padding-left:0px;
        padding-right:10px;
    }

    .item-status {
        top:0;
        height:100%;
        width:5px;
    }

    .list-column {
        padding-left:20px;
        padding-right:0px;
    }

    .list-count {
        display:none;
    }
}

.btn .fa {
    margin-right: 5px;
}

.grid .select-wrapper .form-control {
    border:0;
}

.grid .select-wrapper.grid__cell {
    padding: 0;
    font-size: 15px;
}

.grid .select-wrapper.grid__cell .form-control {
    height: 100%;
    width: 100%;
    padding:0;
    padding-left: 7px;
    padding-right: 25px;
    font-size: 15px;
}
.grid .select-wrapper .fa {
    top: 7px;
}

.is-red {
    color:red;
}

.loading-spinner {
    background-image:url("ajax-loader_blue.gif") !important;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.actions.inline .inline-entry {
    float:right;
    list-style: none;
    padding-left:10px;
    height:100%;
    line-height:40px;
}

.administration .list-body .list-row {
    border-top: 1px solid #b6b6b6;
}
.administration .list-body .list-row:hover {
    background-color: #b6b6b6;
}

.administration .list-body .list-row:last-child {
    border-bottom: 1px solid #b6b6b6;
}

.profile-data .select-wrapper .form-control {
    padding: 10px;
    height: 45px;
    font-size: 17px;
}

.profile-data .select-wrapper .fa {
    top:15px;
}

@media(max-width: 500px){
    .sm-no-padding {
        padding: 0 !important;
    }
}

.grid.action-log .grid__cell {
    line-height: 17px;
    overflow: scroll;
    height: 47px;
}

.grid.action-log .col-user {
    max-width: 300px;
}

.grid.action-log .col-created-at {
    max-width: 240px;
}

.is-light {
    color: #adadad;
}

.mainhub {
    font-weight: 500;
}

.page-actions .toggle-filter {
    float: left;
    margin-left: 0;
}

.toggle-filter.active {
    background-color: #E4E4E4;

}