$gutter: 20px;

.row {
    margin-left: (-1)*$gutter;
    margin-right: (-1)*$gutter;
    width:100%;
}

.club-area-wrapper--full{
    width:100%;
    padding: 20px;
}

.club-area {
    border:1px solid #095AA5;
}

.club-area__title {
    background-color:#095AA5;
    color:white;
    padding:10px;
    text-align:center;
}

.club-area__name {
    padding:10px;
    text-align:center;
    font-weight:600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.club-members .row:first-child {
    margin-bottom:40px;
    margin-top:40px;
}
