.user-list .list-row .actions {
    padding:0;
    padding-right:10px;
}

.user-list .dropdown-menu {
    left:-150px !important;
}

.user-list .list-column {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px 5px;
}

.user-list .list-content {
    padding-right:40px;
}

.user-list {
    .id-col {
        width: 20%;
    }

    .username-col {
        width: 30%;
    }

    .role-col {
        width: 20%;
    }

    .created-col {
        width: 20%;
    }

    .status-col {
        width: 10%;
    }

    .alumn-col {
        width: 20%;
    }

    .name-col {
        width:30%;
    }

    .state-col {
        width:100px;
    }

    .year-col {
        width:60px;
    }
}

.new-alumni-list .created-col {
    width:30%;
}

.new-alumni-list .list-column {
    line-height:20px;
}

.new-alumni-list .list-content {
    padding-right:0;
}

.side-menu {
    width:200px;
    background-color:#D8D8D8;
    height:100%;
    float:left;
    padding-top:50px;
    top:0;

    a:hover {
        text-decoration: none;
    }
}

.side-menu__entry{
    padding: 10px 20px;
    cursor: pointer;
    transition:all 0.3s;
    color: #095AA5;
    position: relative;

    .glyphicon {
        opacity: 0;
        position: absolute;
        right: 17px;
        top: 12px;
        transition: all 0.3s;
    }

    &:hover .glyphicon {
        opacity: 1;
    }

    &:hover, &.active, &.active-new {
        background-color: #a3a3a3;
        color:#16436C;
    }
}

.side-menu__subentry {
    padding: 10px;
    padding-left:50px;

    .glyphicon {
        top: 12px;
    }
}

.activation-link {
    position:relative;
    height:40px;

    .editable & {
        cursor: pointer;
    }

    .editable &:hover {
        //background-color: rgba(9, 90, 165, 0.29);

        .hover-label {
            display: block;
        }
    }
}

.activation-link .hover-label {
    display:none;
    background-color: #C1DCFD;
}

.activation-link .display-label.active {
    background-color: #91B6E2;
}

.activation-link .display-label,
.activation-link .hover-label{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    padding:10px;
    transition:all 0.3s;
}

.member-list {
    .list-header {
        padding-top:0;
        padding-bottom:0;
    }
    .list-row {
        border-bottom: 1px solid #DADCDE;
        padding-top:0;
        padding-bottom:0;
    }

    .name-col {
        width:200px;
        padding-left: 20px !important;
    }

    .list-body .year-col,
    .list-body .state-col {
        border-left: 1px solid #DADCDE;
    }

    .list-body .year-col:last-child{
        border-right: 1px solid #DADCDE;
    }

    .editable & .list-body .year-col:hover {
        background-color: #C1DCFD !important;
    }

    .list-body .year-col {
        height: 40px;

        .editable & {
            cursor:pointer;
        }

        &.active {
            background-color: #91B6E2;
        }
    }

    .list-body .list-column {
        padding:10px;
    }

    .list-header .state-col {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.icons-facts__location {
    width:100%;
    margin-bottom: 10px !important;
}


/***********************************
    BADGE
************************************/

$orientation: -45deg;
$topOffset: 37px;
$mainColor: #095AA5;
$shadowColor: #093973;

.badge {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid transparent;
    display: block;
    z-index: 2;
    background-color: rgba(0,0,0,0);
}

/********** badge__inner ************/
.badge__inner {
    transform: rotate($orientation);
    color: #fff;
    display: block;
    float: right;
    position: relative;
    left: 0;
    top: $topOffset;
    width: 100px;
}
.badge__inner:before {
    transform: skewY(-45deg) translate(50%, 15px);
    transform-origin: 100%;
    left: -45px;
}
.badge__inner:after {
    transform: translate(100%, -100%) skewY(45deg) translateX(-58%);
    transform-origin: 0 0;
    right: -17px;
    margin-top: 0;
}
.badge__inner:before, .badge__inner:after {
    background-color: $shadowColor;
    content:'';
    display: block;
    height: 12px;
    position: absolute;
    width: 30px;
}

/********** badge__text ************/
.badge__text {
    font-size: 11px;
    height: 30px;
    font-weight: 700;
    padding: 10px 0;
    position: relative;
    z-index: 2;
    text-align:center;
}
.badge__text:before {
    transform: translateX(-15%) skewX(-45deg);
}
.badge__text:after {
    transform: translateX(15%) skewX(45deg);
}
.badge__text:before, .badge__text:after {
    background-color: $mainColor;
    content:'';
    display: block;
    height: 30px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}



/***********************************
    DATE TIME PICKER
************************************/

.timepicker-picker {
    table {
        width: 80px;
    }

    table td {
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0 !important;
        border-radius: 0;
    }

    table td span {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }

    .btn {
        min-width: 40px;
        max-width: 40px;
        padding: 0 !important;

        &:hover {
            background-color: rgba(0,0,0,0) !important;
        }
    }

    .separator {
        margin: 0 !important;
    }

    .glyphicon {
        padding-left: 3px;
    }
}

/***********************************
    ActionLog Widgets
************************************/

.action-log-widgets {
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-log-widget label {
    color: #acacac;
    font-size: 0.9em;
    display: block;
}

.action-log-widget .row {
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.action-log-widget .route-count {
    display: block;
    float: left;
    width: 50px;
    text-align: right;
}

/***********************************
    Tool Tip
************************************/
.tool-tip {
    font-size: 0.9em;
    color: #9f9f9f;
    margin-bottom: 20px;
    margin-top:5px;
}

/***********************************
    Checkbox
************************************/
input[type="checkbox"] {
    position: static !important;
    margin-right: 10px;
    left: 0;
    top: 3px;
    width: 15px;
    height: 15px;
}