.event-list .list-column {
    width: 17%;
}

.event-list .col-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    width: 80px;
    margin-right: 15px;
}

.event-list .list-body .col-image {
    height: 80px;
}

.event-list .list-content {
    padding-right: 190px;
}

.event-list .list-body .list-content,
.event-list .list-body .actions
{
    padding-top: 10px;
    padding-bottom: 10px;
}


.events-edit input,
.events-edit select
{
    margin-bottom: 20px;
}

.events-edit select {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 42px;
}

.events-edit .select-wrapper .fa {
    top: 14px;
}

.map-js {
    height: 300px;
}

.map-js .col {
    padding: 0;
}
.map-js .col:first-child {
    padding-right: 10px;
}