$eventHeight: 150px;

.event-list:first-child {
    border-bottom: 3px solid #9E9E9E;
    margin-bottom: 35px;
}

.event__headline {
    font-weight: 300;
    font-size:15px;
    color: #969696;
}

.event__title {
    font-size: 18px;
}

.event__single {
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(232, 232, 232);
    height:$eventHeight + 20px;
}

.event__single:last-child{
    border-bottom: 0;
}

.event__content {
    overflow: hidden;
}

.event__single aside {
    float:right;
}

.event__image {
    height: $eventHeight;
    width: 200px;
    background-position: center;
    background-size: cover;
}

.event__links {
    margin-top: 20px;
    padding-right: 20px;
}

.event__link {
    margin-bottom: 10px;
}
