$grid-border-color: #b6b6b6;
$light-grey-darker: #C7C7C7;

.grid {
    overflow:scroll;
}

.grid__row:first-child .grid__cell {
    border-top:1px solid $grid-border-color;
}

.grid__cell__wrapper {
    min-width:200px;
    max-width:350px;
    border-right:1px solid $grid-border-color;
    border-bottom:1px solid $grid-border-color;
}

.grid__cell {
    width:100%;
    border:0;
    height:30px;
    outline: none;
    padding:7px;
    font-size:15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    border-left:0;
    border-right:0;
    border-bottom:0;
}

.grid__cell__wrapper:first-child {
    border-left:1px solid $grid-border-color;
}

.grid__header .grid__cell__wrapper {
    @extend %ellipsis;

    padding-left: 7px;
    border: 0;

    font-weight: 200;
    letter-spacing: 1px;
}

.empty {
    color: $light-grey-darker;
}


.col-firstname,
.col-lastname,
.col-location
{
    min-width:150px;
}

.col-emailaddress,
.col-alternativeemailaddress,
.col-address,
.col-alternativeaddress,
.col-employer
{
    min-width:250px;
}