.hub-list {
    margin-top: 40px;
}

.hub-list .hub__single {
    position: relative;
    height: 300px;
}

$background-spacing: 20px;
.hub__single .hub__bg__wrapper {
    position: absolute;
    top: $background-spacing;
    right: $background-spacing;
    bottom: $background-spacing;
    left: $background-spacing;
    overflow: hidden;
}
.hub__single .hub__bg {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.05);
    transition: 1.0s all;
}

.hub__single:hover .hub__bg {
    transform: scale(1.0);
}

.hub__single .hub__name {
    position: relative;
    top: $background-spacing;
    padding: 10px 0;

    text-align: center;
    background-color: rgba(255, 255, 255, 0.81);
    font-size: 20px;
}

.hub__single .hub__owner {
    position: absolute;
    bottom: $background-spacing;
    left: $background-spacing;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.81);
}

.hub__single .hub__members {
    position: absolute;
    bottom: $background-spacing;
    right: $background-spacing;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.81);
}

.hub__single .hub__owner label {
    font-weight: 500;
}

.hubs .page-title {
    background-color: #DFEBFB;
    padding:20px;
    font-size: 1.1em;
}

.show-on-xs {
    display:none;
}

@media(max-width: 400px){
    .hub__owner {
        width: 100%;
    }

    .hub__members {
        display: none;
    }

    .show-on-xs {
        display:block;
    }
}