.hub-list .col-name
{
    width:100%;
}

.hub-list .col-name,
.hub-list .col-owner
{
    width:35%;
}

.hub-list .col-position {
    width: 10%;
}

.hub-list .col-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    margin-right: 15px;
}

.hub-list .list-body .col-image {
    height: 80px;
}

.hub-list .list-content {
    padding-right: 190px;
}

.hub-list .list-body .list-content,
.hub-list .list-body .actions
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.hub-modal input,
.hub-modal select
{
    margin-bottom: 20px;
}

.hub-modal select {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 42px;
}

.hub-modal .select-wrapper .fa {
    top: 14px;
}