.login-body {
    width:100%;
    height:auto !important;
    min-height:100%;
    background: linear-gradient(to bottom, rgba(9, 90, 165, 0.75) 0%,#064A89 100%);
}

.login-form input[type="submit"]{
    background-color:rgba(0,0,0,0) !important;
    border:2px solid white !important;
    transition:background-color 0.2s;
}

#activation-form input[type="submit"],
#reset-password-form input[type="submit"],
#set-password-form input[type="submit"]
{
    background-color: #095AA5 !important;
}

#reset-password-form input[type="password"],
#set-password-form input[type="password"] {
    margin-top: 20px;
}

.reset-password-link {
    color: white;

    &:hover {
        color:white;
    }
}

.login-body .logo {
    max-width:480px;
    margin-top:80px;
    margin-bottom:30px;
    margin-left:auto;
    margin-right:auto;
    padding:20px;

    img {
        width:100%;
        height:100%;
    }

    @media(max-width:400px){
        & {
            margin-top:20px;
            margin-bottom:0;
        }
    }
}

.login-form {
    padding-top:20px;
    padding-bottom:100px;
}

.login-form .error-msg {
    padding:10px;
    background-color:rgba(0,0,0,0.11);
}

.login-form input[type='submit'].has-progress-indicator {
    background-image:url("ajax-loader.gif") !important;
    background-repeat: no-repeat;
    background-size:auto 50%;
    background-position:center;
    background-color:#155795 !important;
}