.has-elliptic-overflow {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media(min-width: 500px) {
    .has-no-padding-xs {
        padding: 0 !important;
    }
}

.is-full-width {
    width: 100% !important;
}

.empty {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    font-size: 20px;
}

.margin-right-10 {
    margin-right: 10px;
}

.has-tool-tip {
    margin-bottom: 0 !important;
}

.show-on-xs {
    display: none;
}

@media(max-width: 600px) {
    .show-on-xs {
        display:block !important;
    }
    .hide-on-xs {
        height: 0;
        padding: 0 !important;
        display: none !important;
    }
}

