<template name="config">

    <div class="padding-container">
        <div class="filter clearfix">
            <button type="button" class="btn action-btn is-right" data-id="{{_id}}" data-toggle="modal" data-target="#createConfigModal">
                Neuer Eintrag
            </button>
        </div>

        <div class="modal fade" id="createConfigModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Neuer Eintrag</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" placeholder="key" class="js-key">
                        <input type="text" placeholder="value" class="js-value">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Speichern</button>
                    </div>
                </div>
            </div>
        </div>

        {{> configtable}}
    </div>

</template>
