<template name="configtable">

    <div class="list user-list">
        <div class="list-header clearfix">
            <div class="list-content">
                <div class="list-column id-col">
                    ID
                </div>
                <div class="list-column username-col">
                    Key
                </div>
                <div class="list-column username-col">
                    Value
                </div>
            </div>
        </div>

        <div class="list-body">
            {{#each config}}
            <div class="list-row clearfix">
                <div class="list-content clearfix">
                    <div class="list-column id-col">
                        {{_id}}
                    </div>
                    <div class="list-column username-col">
                        {{key}}
                    </div>
                    <div class="list-column username-col">
                        {{value}}
                    </div>
                </div>

                <div class="actions hide-on-sm">
                    <div class="more" data-toggle="dropdown">
                        <i class="fa fa-bars"></i>
                    </div>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                               data-toggle="modal" data-target="#editConfigModal">
                                Bearbeiten
                            </a>
                        </li>
                        <li>
                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}"
                               data-toggle="modal" data-target="#deleteModal">
                                Löschen
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="modal fade" id="editConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Config bearbeiten</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" placeholder="key" class="js-key-edit" value="{{selectedConfig.key}}">
                        <input type="text" placeholder="value" class="js-value-edit" value="{{selectedConfig.value}}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Abbrechen</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Config Eintrag löschen?</h4>
                    </div>
                    <div class="modal-body">
                        Sicher dass der Config Eintrag gelöscht werden soll?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="cancel-btn btn" data-dismiss="modal">Nein</button>
                        <button type="button" class="action-btn btn" data-id="{{_id}}">Ja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
