<template name="alumniEdit">
    <div class="body__inner">
        <!--{{linkedInProfile.firstName}} {{linkedInProfile.lastName}}-->
        <!--<img src="{{linkedInProfile.photo}}">-->
        {{#with alumn}}
            <div class="alumni edit profile-container">
                <div class="page-actions clearfix">
                    <a href="#" class="action-btn save-btn btn" data-id="{{_id}}">Speichern</a>
                    <a href="#" class="cancel-btn btn" data-id="{{_id}}">Abbrechen</a>
                </div>

                <div class="profile-wrapper">
                    <div class="profile-facts">
                        <div class="name clearfix">
                            <div class="name-wrapper">
                                <input type="text" name="firstname" placeholder="Vorname" value="{{firstname}}">
                            </div>
                            <div class="name-wrapper">
                                <input type="text" name="lastname" placeholder="Nachname" value="{{lastname}}">
                            </div>
                        </div>

                        <div class="profile-data">
                            <div class=""><input type="email" name="mailaddress" value="{{mailaddress}}" placeholder="Mailadresse"></div>
                            <div class=""><input type="email" name="alternativemailaddress" value="{{alternativemailaddress}}" placeholder="Mailadresse (alternativ)"></div>
                            <div class=""><input type="text" name="telephone" value="{{telephone}}" placeholder="Telefon"></div>
                            <div class=""><input type="text" name="alternativetelephone" value="{{alternativetelephone}}" placeholder="Telefon (alternativ)"></div>
                            <div class=""><input type="text" name="address" value="{{address}}" placeholder="Adresse"></div>
                            <div class=""><input type="text" name="alternativeaddress" value="{{alternativeaddress}}" placeholder="Adresse (alternativ)"></div>
                            <div class=""><input type="text" name="xing" value="{{xing}}" placeholder="Xing"></div>
                            <div class=""><input type="text" name="linkedin" value="{{linkedin}}" placeholder="Linkedin"></div>
                        </div>

                        <div class="work">
                            <h3>Arbeit</h3>
                            <div class="profile-data">
                                <div class=""><input type="text" name="employer" value="{{employer}}" placeholder="Unternehmen"></div>
                                <div class=""><input type="text" name="job" value="{{job}}" placeholder="Funktion"></div>
                                <div class="select-wrapper">
                                    <select class="jobbranch form-control" name="jobbranch">
                                        <option value="-1">Branche auswählen</option>
                                        {{#each branches}}
                                            <option selected="{{selected ../jobbranch._id _id}}" value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                                <div class=""><input type="text" name="jobSince" value="{{jobSince}}" placeholder="Seit"></div>
                                <!--<div class=""><input type="text" name="jobCategory" value="{{jobCategory}}" placeholder="Kategorie"></div>-->
                                <!--<div class=""><input type="text" name="jobLocation" value="{{jobLocation}}" placeholder="Dienstort"></div>-->
                            </div>
                        </div>
                    </div>

                    <div class="sidebar">
                        {{#if mayEditAlumnicons}}
                            <div class="alumnicons-facts">
                                <div class="form-block">
                                    <div class="label">Rolle:</div>
                                    <div class="select-wrapper">
                                        <select class="role form-control" name="role" value="{{alumniRole._id}}">
                                            <option value="-1">--</option>
                                            {{#each roles}}
                                                <option selected="{{selected ../alumniRole._id _id}}" value="{{_id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                    </div>

                                </div>
                                <div class="form-block">
                                    <div class="label">Jahrgangssprecher:</div>
                                    <div class="select-wrapper">
                                        <select class="class-president form-control" name="classPresident" value="{{classPresident}}">
                                            <option value="-1">--</option>
                                            {{#each classPresidents}}
                                                <option selected="{{selected ../classPresident _id}}" value="{{_id}}">{{firstname}} {{lastname}}</option>
                                            {{/each}}
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                    </div>
                                </div>

                                <div class="form-block">
                                    <div class="label">Hub:</div>
                                    <div class="select-wrapper">
                                        <select class="hub form-control" name="hub" value="{{hub}}">
                                            <option value="-1">--</option>
                                            {{#each hubs}}
                                                <option selected="{{selected ../hub._id _id}}" value="{{_id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                        <i class="fa fa-angle-down"></i>
                                    </div>
                                </div>

                                <div class="form-block checkbox">
                                    <label><input type="checkbox" name="isClubMember" checked="{{isClubMember}}"> Ist Vereinsmitglied</label>
                                </div>
                                <div class="form-block checkbox">
                                    <label><input type="checkbox" name="isClassPresident" checked="{{isClassPresident}}"> Ist Jahrgangssprecher</label>
                                </div>
                            </div>
                        {{/if}}

                        <div class="icons-facts">
                            <h4>icons</h4>
                            <div class="row">
                                <div class="label">Standort:</div>
                                <div class="select-wrapper">
                                    <select class="location form-control" name="location">
                                        <option value="-1">--</option>
                                        {{#each locations}}
                                            <option selected="{{selected ../location._id _id}}" value="{{_id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                                    <i class="fa fa-angle-down"></i>
                                </div>
                            </div>
                            <!--div class="row">
                                <div class="label">Abteilung:</div>
                                <select class="location form-control" name="location" value="{{department}}">
                                    {{#each departments}}
                                    <option value="{{_id}}">{{name}}</option>
                                    {{/each}}
                                </select>
                            </div-->
                            <div class="row"><div class="label">Beginn:</div> <input type="text" name="iconsStart" value="{{iconsStart}}"> </div>
                            <div class="row"><div class="label">Ende:</div> <input type="text" name="iconsEnd" value="{{iconsEnd}}"> </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>
