<template name="isset">
    {{#if isSet value}}
        {{> UI.contentBlock}}
    {{else}}
        {{> UI.elseBlock}}
    {{/if}}
</template>

<template name="alumniView">
    <div class="body__inner">
        {{#with alumn}}
            <div class="alumni profile-container">
                <div class="page-actions clearfix">
                    {{#if mayEdit}}
                        <a href="#" class="btn action-btn edit-btn">Bearbeiten</a>
                        {{#if mayChangePassword}}<a href="#" class="btn" data-toggle="modal" data-target="#setPasswordModal">Passwort &auml;ndern</a>{{/if}}
                        <!--{{#if mayInvite}}<a href="#" data-id="{{_id}}" class="btn invite-btn" data-toggle="modal" data-target="#inviteModal">Einladen</a>{{/if}}-->
                    {{/if}}
                </div>
                <div class="profile-wrapper">
                    <div class="profile-facts">
                        <div class="profile-data">
                            <div class="name">
                                {{fullName}}
                                <div class="social-media-profiles">
                                    {{#if linkedin}}<a href="{{linkedin}}" target="_blank"><img src="/linkedin.png"></a>{{/if}}
                                    {{#if xing}}<a href="{{xing}}" target="_blank"><img src="/xing.png"></a>{{/if}}
                                </div>
                            </div>

                            {{#if isset mailaddress}}<div class="mailaddress"><a href="mailto:{{mailaddress}}">{{mailaddress}}</a></div>{{/if}}
                            {{#if isset alternativemailaddress}}<div class="alt-mailaddress"><a href="mailto:{{alternativemailaddress}}">{{alternativemailaddress}}</a></div>{{/if}}
                            {{#if isset telephone}}<div class=""><a href="tel:{{telephone}}">{{telephone}}</a></div>{{/if}}
                            {{#if isset alternativetelephone}}<div class=""><a href="tel:{{alternativetelephone}}">{{alternativetelephone}}</a></div>{{/if}}
                            {{#if isset address}}
                                <div class="address">
                                    {{address}}
                                    {{#if isset alternativeaddress}}&nbsp;({{alternativeaddress}}){{/if}}
                                </div>
                            {{else}}
                                {{#if isset alternativeaddress}}
                                    <div class="address">{{alternativeaddress}}</div>
                                {{else}}
                                    --
                                {{/if}}
                            {{/if}}

                            {{#if isAdmin}}
                                {{#if isset address}}<div class="">lat:{{lat}}</div>{{/if}}
                                {{#if isset address}}<div class="">lng:{{lng}}</div>{{/if}}
                            {{/if}}
                        </div>

                        <div class="work">
                            <div class="profile-data">
                                <div class=""><div class="label">Unternehmen:</div>{{#if employer}}{{employer}}{{else}}--{{/if}}</div>
                                <div class=""><div class="label">Position:</div>{{#if job}}{{job}}{{else}}--{{/if}}</div>
                                <div class=""><div class="label">Branche:</div>{{#if jobbranch}}{{jobbranch.name}}{{else}}--{{/if}}</div>
                                <div class=""><div class="label">Seit:</div>{{#if jobSince}}{{jobSince}}{{else}}--{{/if}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="sidebar">
                        {{#if showRole}}
                            <div class="alumnicons-facts sidebar-widget">
                                <div class="form-block clearfix">
                                    <div class="roles-container">
                                        {{#if isClubMember}}<div class="has-elliptic-overflow">Vereinsmitglied</div>{{/if}}
                                        {{#if alumniRole.name}}<div class="has-elliptic-overflow">{{alumniRole.name}}</div>{{/if}}
                                        {{#if isClassPresident}}<div class="has-elliptic-overflow">Jahrgangsprecher</div>{{/if}}
                                    </div>
                                </div>
                                {{#if classPresident}}
                                    <div class="form-block">
                                        <div class="label">Jahrgangssprecher:</div>
                                        <a href="{{pathFor 'alumniView' _id=classPresident._id}}" class="has-elliptic-overflow">{{classPresident.firstname}} {{classPresident.lastname}}</a>
                                    </div>
                                {{/if}}
                                {{#if hub}}
                                    <div class="form-block">
                                        <div class="label">Hub:</div>
                                        {{hub.name}}
                                    </div>
                                {{/if}}
                            </div>
                        {{/if}}


                        <div class="icons-facts sidebar-widget">
                            <h4>icons</h4>
                            {{#if location}}
                                    <div class="icons-facts__location">
                                        <div class="label">Standort:</div> {{location.name}}
                                    </div>
                            {{/if}}
                            {{#if iconsStart}}<div class="block"><div class="label">Beginn:</div> {{iconsStart}}</div>{{/if}}
                            {{#if iconsEnd}}<div class="block"><div class="label">Ende:</div> {{iconsEnd}} </div>{{/if}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="inviteModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Alumnus/-a einladen?</h4>
                        </div>
                        <div class="modal-body">
                            Wollen Sie den Alumnus/-a wirklich einladen?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn cancel-btn" data-dismiss="modal">Nein</button>
                            <button type="button" class="btn btn-primary action-btn" data-id="{{_id}}">Ja</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="setPasswordModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Passwort &auml;ndern</h4>
                        </div>
                        <div class="modal-body">
                            <div class="margin-bottom-20">
                                <label>Aktuelles Passwort:</label>
                                <input type="password" class="current-password-js">
                            </div>

                            <div class="margin-bottom-20">
                                <label>Neues Passwort:</label>
                                <input type="password" class="new-password-js">
                            </div>

                            <div class="margin-bottom-20">
                                <label>Neues Passwort best&auml;tigen:</label>
                                <input type="password" class="confirm-password-js">
                            </div>

                            {{#if errorMsg}}
                                <div class="error-msg">
                                    {{errorMsg}}
                                </div>
                            {{/if}}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn cancel-btn" data-dismiss="modal">Abbrechen</button>
                            <button type="button" class="btn btn-primary action-btn" data-id="{{_id}}">Speichern</button>
                        </div>
                    </div>
                </div>
            </div>
        {{/with}}
    </div>
</template>
