<template name="alumni">

    <div class="body__inner">
        <div class="page-actions">
            <div class="container has-no-padding-xs">
                {{#if mayCreate}}
                    <div class="add-btn action-btn btn">
                        Neuer Eintrag
                    </div>
                {{/if}}
                {{#if isAdmin}}
                    <div class="btn delete-all-btn hide-on-sm">
                        Alle löschen
                    </div>
                    <div class="btn import-btn hide-on-sm">
                        CSV Import
                    </div>
                    <div class="btn export-btn hide-on-sm">
                        CSV Export
                    </div>
                {{/if}}

                <div class="btn show-on-xs toggle-filter-js toggle-filter">Filter <i class="fa fa-filter"></i></div>
            </div>
        </div>

        <div class="filter">
            <div class="container filter-container filter-container-js hide-on-xs">
                <div class="suche filter__single">
                    <div class="text-filter">
                        <input type="text" class="stringfilter stringfilter-js" value="{{filterText}}" placeholder="Suche...">
                        {{#if showFilterClearIcon}}<i class="fa fa-remove clear-filter-js"></i>{{/if}}
                    </div>
                </div>

                <div class="jahrgangsprecher filter__single">
                    <div class="select-wrapper">
                        <select class="class-presidents-js form-control" name="class-presidents">
                            <option value="0">Jahrgangssprecher</option>
                            {{#each classPresidents}}
                                <option value="{{_id}}" selected="{{selected selectedClassPresident _id}}">{{firstname}} {{lastname}}</option>
                            {{/each}}
                        </select>
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>

                <div class="standort filter__single">
                    <div class="select-wrapper">
                        <select class="location form-control location-js" name="location" value="{{location}}">
                            <option value="0">icons Standort</option>
                            {{#each locations}}
                                <option value="{{_id}}" selected="{{selected selectedLocation _id}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>

                <div class="filter__single">
                    <div class="select-wrapper">
                        <select class="hub form-control hub-js" name="hub" value="{{hub}}">
                            <option value="0">Hub</option>
                            {{#each hubs}}
                                <option value="{{_id}}" selected="{{selected selectedHub _id}}">{{name}}</option>
                            {{/each}}
                        </select>
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>

                <div class="btn action-btn search-btn-js">Suchen</div>
                <div class="btn filter-reset-btn filter-reset-js">Zur&uuml;cksetzen</div>
                <!--<div class="btn action-btn update-btn-js">Aktualisieren</div>-->
            </div>
            <div class="list-count container">
                {{alumniCount}} von {{alumniTotalCount}}
            </div>
        </div>

        <div class="list">
            <div class="list-header hide-on-sm">
                <div class="container clearfix">
                    <div class="pre-column hide-on-sm">&nbsp;</div>
                    <div class="list-column name-column" data-value="lastname">
                        Name
                        {{#if sortByLastname}}
                        {{#if ascending}}
                            <i class="fa fa-angle-down"></i>
                        {{/if}}
                        {{#unless ascending}}
                            <i class="fa fa-angle-up"></i>
                        {{/unless}}
                        {{/if}}
                    </div>
                    <div class="list-column address-column">
                        Adresse
                    </div>
                    <div class="list-column employer-column" data-value="employer">
                        Arbeitgeber
                        {{#if sortByEmployer}}
                        {{#if ascending}}
                            <i class="fa fa-angle-down"></i>
                        {{/if}}
                        {{#unless ascending}}
                            <i class="fa fa-angle-up"></i>
                        {{/unless}}
                        {{/if}}
                    </div>
                    <div class="list-column location-column" data-value="location">
                        icons
                        {{#if sortByLocation}}
                        {{#if ascending}}
                            <i class="fa fa-angle-down"></i>
                        {{/if}}
                        {{#unless ascending}}
                            <i class="fa fa-angle-up"></i>
                        {{/unless}}
                        {{/if}}
                    </div>
                    <!--<div class="list-column role-column" data-value="classPresident">
                        Jahrgangsprecher
                        {{#if sortByClassPresident}}
                            {{#if ascending}}
                                <i class="fa fa-angle-down"></i>
                            {{/if}}
                            {{#unless ascending}}
                                <i class="fa fa-angle-up"></i>
                            {{/unless}}
                        {{/if}}
                    </div>-->
                </div>
            </div>
            <script>
                $('.list-header .list-column').on('click', function (e) {
                    if ($(e.target).children('i').hasClass("fa-angle-down")) {
                        $(e.target).children('i').removeClass("fa-angle-down");
                        $(e.target).children('i').addClass("fa-angle-up");
                    } else {
                        $(e.target).children('i').addClass("fa-angle-down");
                        $(e.target).children('i').removeClass("fa-angle-up");
                    }
                });
            </script>
            <div class="list-header fixed-list-header is-hidden hide-on-sm">
                <div class="container clearfix">
                    <div class="pre-column">&nbsp;</div>
                    <div class="list-column name-column" data-value="lastname">
                        Name
                        {{#if sortByLastname}}
                            {{#if ascending}}
                                <i class="fa fa-angle-down"></i>
                            {{/if}}
                            {{#unless ascending}}
                                <i class="fa fa-angle-up"></i>
                            {{/unless}}
                        {{/if}}
                    </div>
                    <div class="list-column address-column">
                        Adresse
                    </div>
                    <div class="list-column employer-column" data-value="employer">
                        Arbeitgeber
                        {{#if sortByEmployer}}
                            {{#if ascending}}
                                <i class="fa fa-angle-down"></i>
                            {{/if}}
                            {{#unless ascending}}
                                <i class="fa fa-angle-up"></i>
                            {{/unless}}
                        {{/if}}
                    </div>
                    <div class="list-column location-column" data-value="location">
                        icons
                        {{#if sortByLocation}}
                            {{#if ascending}}
                                <i class="fa fa-angle-down"></i>
                            {{/if}}
                            {{#unless ascending}}
                                <i class="fa fa-angle-up"></i>
                            {{/unless}}
                        {{/if}}
                    </div>
                    <!--<div class="list-column role-column" data-value="classPresident">
                        Jahrgangsprecher
                        {{#if sortByClassPresident}}
                        {{#if ascending}}
                                <i class="fa fa-angle-down"></i>
                            {{/if}}
                        {{#unless ascending}}
                                <i class="fa fa-angle-up"></i>
                            {{/unless}}
                    {{/if}}
                    </div>-->
                </div>
            </div>

            <div class="list-body hover-list-body">
                {{#each alumni}}
                    <div class="list-row clearfix">
                        <div class="container">
                            <a href="#" class="profile-link" data-id="{{_id}}">
                                <div class="list-data clearfix">
                                    {{#if isAdmin}}<div class="item-status user-status {{status}}" title="User">&nbsp;</div>{{/if}}
                                    <div class="item-status membership-status {{membership}}" title="Vereins Mitgliedschaft">&nbsp;</div>
                                    <div class="list-column name-column">
                                        <div class="name">
                                            {{#unless firstname}}&nbsp;{{/unless}} {{firstname}} {{#unless
                                            lastname}}&nbsp;{{/unless}} {{lastname}}

                                            {{#if linkedin}}<img class="hide-on-sm" src="/linkedin.png">{{/if}}
                                            {{#if xing}}<img class="hide-on-sm" src="/xing.png">{{/if}}
                                        </div>
                                        <div class="details">
                                            <p>{{#unless mailaddress}}&nbsp;{{/unless}}{{mailaddress}}
                                            </p>

                                            <p>{{#unless telephone}}&nbsp;{{/unless}}{{telephone}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="list-column address-column">
                                        {{#unless address}}&nbsp;{{/unless}}{{address}}
                                    </div>
                                    <div class="list-column employer-column">
                                        {{#if employer}}{{employer}}{{/if}}
                                        {{#unless employer}}--{{/unless}}
                                        <div class="details">
                                            {{job}}{{#if job}}{{#if jobSince}},&nbsp;seit&nbsp;{{/if}}{{/if}}{{jobSince}}
                                        </div>
                                    </div>
                                    <div class="list-column location-column">
                                        {{#if location}}{{location.name}}{{/if}}
                                        {{#unless iconsStart}}&nbsp;{{/unless}}
                                        {{#if iconsStart}}von {{iconsStart}}{{/if}} {{#if iconsEnd}}bis {{iconsEnd}}{{/if}}
                                    </div>
                                    <!--<div class="list-column role-column">
                                        <a href="{{pathFor 'alumniView' _id=classPresident._id}}">{{classPresident.firstname}}&nbsp;{{classPresident.lastname}}</a>
                                    </div>-->
                                </div>
                            </a>
                            <div class="actions hide-on-sm">
                                <!-- maySeeEditProfileShortCut -->
                                {{#if isAdmin}}
                                    <div class="more" data-toggle="dropdown">
                                        <i class="fa fa-bars"></i>
                                    </div>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}" class="edit-btn">Bearbeiten</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}" class="delete-dropdown" data-toggle="modal" data-target="#deleteModal">Löschen</a>
                                        </li>
                                        <li role="presentation">
                                            <a role="menuitem" tabindex="-1" href="#" data-id="{{_id}}" class="invite-dropdown" data-toggle="modal" data-target="#inviteModal">Einladen</a>
                                        </li>
                                    </ul>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{else}}
                    {{#if showSpinner}}
                        <div class="loading-spinner"></div>
                    {{else}}
                        <div class="empty">Keine Eintr&auml;ge gefunden!</div>
                    {{/if}}
                {{/each }}

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Alumnus/-a löschen?</h4>
                            </div>
                            <div class="modal-body">
                                Wollen Sie den Alumnus/-a wirklich l&ouml;schen?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn cancel-btn" data-dismiss="modal">Nein</button>
                                <button type="button" class="btn btn-primary delete-btn action-btn" data-id="{{_id}}">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Alumna/-us einladen?</h4>
                            </div>
                            <div class="modal-body">
                                Willst du die/den Alumna/-us wirklich einladen?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn cancel-btn" data-dismiss="modal">Nein</button>
                                <button type="button" class="btn btn-primary invite-btn action-btn" data-id="{{_id}}">Ja</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</template>
