<template name="clearalumni">
    <div class="grid">
        <div class="grid__header" layout="row">
            {{#each attributes}}
                <div flex class="grid__cell__wrapper">
                    <span>{{this}}</span>
                </div>
            {{/each}}
        </div>

        <div class="grid__content">
            {{#each alumni}}
                <div class="grid__row clearfix" layout="row" data-id="{{_id}}">
                    <div flex class="grid__cell__wrapper">
                        <input value="{{firstname}}" class="grid__cell firstname" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{lastname}}" class="grid__cell lastname" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{mailaddress}}" class="grid__cell mailaddress" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{alternativemailaddress}}" class="grid__cell alternativemailaddress" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{telephone}}" class="grid__cell telephone" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{alternativetelephone}}" class="grid__cell alternativetelephone" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{address}}" class="grid__cell address" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{alternativeaddress}}" class="grid__cell alternativeaddress" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{employer}}" class="grid__cell employer" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{job}}" class="grid__cell job" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{jobSince}}" class="grid__cell jobSince" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{linkedin}}" class="grid__cell linkedin" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{xing}}" class="grid__cell xing" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{iconsStart}}" class="grid__cell iconsStart" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <input value="{{iconsEnd}}" class="grid__cell iconsEnd" type="text" >
                    </div>
                    <div flex class="grid__cell__wrapper">
                        <div class="select-wrapper grid__cell">
                            <select class="location form-control" name="location">
                                <option value="-1">Kein Standort</option>
                                {{#each locations}}
                                    {{../location._id}}, {{_id}}
                                    <option selected="{{selected ../location._id _id}}" value="{{_id}}">{{name}}</option>
                                {{/each}}
                            </select>
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>
