<template name="import">
    <div class="body__inner">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="jquery.csv.js"></script>

        <div class="btn action-btn import-js">Import</div>

        <div id="inputs" class="clearfix">
            <input type="file" id="files" name="files[]" multiple="">
        </div>

        <output id="list">
        </output>

        <table id="contents" style="width:100%; height:400px;" border="">
        </table>
    </div>
</template>