<template name="hubs">
    <div class="hubs">
        <div class="page-title">
            <div class="container">
                Du bist neu in einer Stadt oder m&ouml;chtest Alumni anderer St&auml;dte kennenlernen? <br>
                Sei dabei wenn Events in deiner N&auml;he statt finden! <br>
                Kontaktiere den Local Ambassador per Email oder Telefon um mehr zu erfahren!
            </div>
        </div>

        <div class="hub-list container clearfix sm-no-padding">
            {{#each superiorHubs}}
                <div class="hub__single col col-lg-4 col-sm-6 col-xs-12">
                    <div class="hub__bg__wrapper">
                        <div class="hub__bg" style="background-image:url({{image}})"></div>
                    </div>
                    <div class="hub__name">{{name}}</div>
                    {{#if owner}}
                        <div class="hub__owner">
                            <label>Local Ambassador</label>

                            <div class="owner-content"><a
                                    href="/alumni/{{owner._id}}">{{owner.firstname}} {{owner.lastname}}</a></div>

                            {{#if alumniCount}}
                                <div class="show-on-xs">
                                    <a href="/alumni?search&hub={{_id}}">{{alumniCount}} Mitglieder</a>
                                </div>
                            {{/if}}

                        </div>
                        {{#if alumniCount}}
                            <div class="hub__members">
                                <div class=""><a href="/alumni?search&hub={{_id}}">{{alumniCount}} Mitglieder</a></div>
                            </div>
                        {{/if}}
                    {{/if}}

                    {{#if isFirst}}
                        <div class="badge">
                            <div class="badge__inner">
                                <div class="badge__text">Hauptsitz</div>
                            </div>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
        </div>


        <div class="hub-list container clearfix sm-no-padding">
            {{#each hubs}}
                <div class="hub__single col col-lg-4 col-sm-6 col-xs-12">
                    <div class="hub__bg__wrapper">
                        <div class="hub__bg" style="background-image:url({{image}})"></div>
                    </div>
                    <div class="hub__name">{{name}}</div>
                    {{#if owner}}
                        <div class="hub__owner">
                            <label>Local Ambassador</label>

                            <div class="owner-content"><a
                                    href="/alumni/{{owner._id}}">{{owner.firstname}} {{owner.lastname}}</a></div>

                            {{#if alumniCount}}
                                <div class="show-on-xs">
                                    <a href="/alumni?search&hub={{_id}}">{{alumniCount}} Mitglieder</a>
                                </div>
                            {{/if}}
                        </div>
                        {{#if alumniCount}}
                            <div class="hub__members">
                                <div class=""><a href="/alumni?search&hub={{_id}}">{{alumniCount}} Mitglieder</a></div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            {{/each}}
        </div>
    </div>
</template>